---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

* {
  box-sizing: border-box;
}

html, body {
  background-color: #efe8d8;
  color: #3c485d;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 18px;
}

.home {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  background-color: none;
  align-items: flex-end;
}

.househouse {
  position: absolute;
  align-self: center;
  transform-origin: 50% 50%;
  transition: all 0.4s ease-out;
  z-index: 100;
  cursor: pointer;

  &:hover {
    transform: scale(0.9);
    border: 10px solid #3c485d;
    padding: 20px;
    translate-origin: 50% 100%;
  }

  &.shrink-ray {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.2) !important;
    border: none !important;
  }
}

.copy {
  position: absolute;
  top: 210px;
  left: 342px;
  font-size: 110px;
  font-weight: 900;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: translate(0, 50px);

  &.fadein {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.about {
  width: 38rem;
  margin: 0 auto;
}