---
---

@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:             30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

* {
  box-sizing: border-box;
}

body {
  background-color: #efe8d8;
  color: #3c485d;
  font-family: "Pt mono", mono;
}

.shifting-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  // animation-name: shifting;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes shifting {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .75;
  }

  100% {
    opacity: 0;
  }
}

.bg-first {
  background-image: linear-gradient(to bottom, #efe8d8, #CFE4EB);
}

.bg-second {
  animation-delay: 5s;
  background-image: linear-gradient(to bottom, #efe8d8, #F3C9DD)
}

// .bg-thrid {
//  -webkit-animation-delay: 20s;
//  background-image: linear-gradient(to bottom, #efe8d8, #d3e8e1)
// }


h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
}

p {
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 10000;
}

.home {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  transition: all 1s ease-in-out;
  opacity: 0;
  &.load-in {
    opacity: 1;
  }
  &.shrink {
    height: 60vh;
  }
}

.first-house {
  transform: translate(-100%, 0);

  .together & {
    transform: translate(-18.5%, 0);
  }
}

.second-house {
  transform: translate(100%, 0);
  .together & {
    transform: translate(18.5%, 0);
  }
}

.househouse {
  position: absolute;
  // align-self: center;
  transform-origin: 50% 50%;
  transition: all 1.5s ease-in-out;
  z-index: 100;
}

.about {
  justify-content: flex-start;
  width: 100%;
  margin-top: 4*$spacing-unit;
}

.paragraph {
  max-width: 38rem;
  margin: 0 $spacing-unit $spacing-unit $spacing-unit;
  text-align: left;
}
.big-text {
  
  p { 
    font-size: 1.5rem;
  }
}

