article(style='padding-top:25vh;padding-bottom:25vh;').u-text-center
    div.c-text-content.u-measure-wide.u-margin-horizontal-fill.u-padding
        h1 Oh no! 
        p We’re sorry, we can’t find what you're looking for…
