footer.u-margin-bottom-lg.u-align-center
    div.c-text-content
        p.u-text-size-small 
            | Copyright © 2016–#[script document.write(new Date().getFullYear());] #{site_title} 
        p.u-uppercase(style='letter-spacing:0.125rem;font-size:0.5rem;')
            | Made with love in Vancouver, Canada
        p ✌🏼

// Google Analytics
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-87162611-1', 'auto');ga('send', 'pageview');
