header.u-context.u-clip.u-padding-top-lg.u-margin-bottom-lg.u-align-center

    h2.u-bold 
        | House House
    p.u-margin-bottom-md.u-uppercase.u-color-primary.u-tracked-loose(style='font-size:0.5rem;') 
        | A Design Studio
    ul
        li.u-inline-block.u-margin-right-md
            a(href='#who-we-are').u-inline-block.u-squiggle
                | Who We Are
        li.u-inline-block.u-margin-right-md
            a(href='#our-work').u-inline-block.u-squiggle
                | Our Work
        li.u-inline-block
            a(href='#contact-us').u-inline-block.u-squiggle
                | Contact Us
