div.u-context.u-noise(style='height:0;padding-bottom:40%;background-color:#000;')
    div.u-position.u-top-halfway.u-left-0.u-realign-center-vert.u-width-full.a-fade-in--mid-forwards.u-hidden--small-only.u-hidden--medium-only.u-stack-basic#video_player
    img.u-position.u-top-halfway.u-left-0.u-realign-center-vert.u-width-full(src='assets/img/glitch.jpg', alt='Wherever you are, design can help you better communicate with purpose. We can help.')
    script(async='', defer='', src='https://www.youtube.com/iframe_api')
    script.
        function onYouTubeIframeAPIReady(){var a;a=new YT.Player("video_player",{videoId:"PofN_Ou3As8",width:1920,height:1080,playerVars:{autoplay:1,controls:0,showinfo:0,modestbranding:1,loop:1,fs:0,cc_load_policy:0,iv_load_policy:3,autohide:1,playlist:"PofN_Ou3As8"},events:{onReady:function(a){a.target.mute()}}})}
