// Global Generic / Reset Styles
// ============================================================================

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    overflow-y: scroll;

    background: $secondary-color;

    color: $black;
    font-family: $primary-font, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: $regular-font;
    line-height: $base-leading;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    fill: currentColor;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a,
button {
    cursor: pointer;
}

button {
    border: 0;

    font-family: $primary-font;

    transition: all 0.05s linear;

    appearance: none;

    &:hover {
        opacity: $half-transparent;
    }
}

input,
select,
textarea {
    background-color: map-get($color-map, light-grey);

    font-family: $code-font;
    line-height: $base-leading;

    resize: none;

    &:focus,
    &:active,
    &:valid {
        z-index: $z3-depth;
    }

    &:invalid {
        z-index: auto;
    }
}
