// Global Typographic Styles
// ============================================================================

@font-face {
    font-family: 'Akkurat';
    font-style: normal;
    font-weight: $regular-font;
    font-display: swap;

    unicode-range: U+000-5FF;
    src: url('./assets/fonts/Akkurat_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Tiempos Headline';
    font-style: normal;
    font-weight: $regular-font;
    font-display: swap;

    unicode-range: U+000-5FF;
    src: url('./assets/fonts/TiemposHeadline_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Tiempos Headline';
    font-style: normal;
    font-weight: $bold-font;
    font-display: swap;

    unicode-range: U+000-5FF;
    src: url('./assets/fonts/TiemposHeadline_Semibold.woff2') format('woff2');
}

body {
    @extend %type-copy;
}

h1 {
    @extend %type-headline;
    font-family: $secondary-font;
}

h2 {
    @extend %type-subheadline;
    font-family: $secondary-font;
}

h3 {
    @extend %type-title;
}

h4,
h5,
h6 {
    @extend %type-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $regular-font;
    line-height: $tight-leading;
}

small {
    @extend %type-small;
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

code,
pre {
    font-family: $code-font;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        @extend %a-back-forth;

        color: $accent-color;
    }
}

::-webkit-input-placeholder {
    color: $grey;
    font-size: 0.8rem;
    line-height: $base-leading;
}

::-moz-placeholder {
    color: $grey;
    font-size: 0.8rem;
    line-height: $base-leading;
}

:-ms-input-placeholder {
    color: $grey;
    font-size: 0.8rem;
    line-height: $base-leading;
}
