.c-text-content {
    > * {
        margin-bottom: 1em;
    }
}

.c-title {
    margin-bottom: 1em;

    span:nth-child(1) {
        color: var(--indigo-dark);
    }

    span:nth-child(3) {
        color: var(--orange-dark);
    }

    @include break(510) {
        span:nth-child(1) {
            display: block;
        }
    }

    @include break(650) {
        span:nth-child(3) {
            display: block;
        }
    }
}


@keyframes fadeIn_fromBottom {
    from {
        opacity: 0;

        transform: translateY(2rem);
    }

    20% {
        opacity: 0;
    }

    to {
        opacity: 1;

        transform: none;
    }
}

@keyframes fadeIn_fromRight {
    0% {
        opacity: 0;

        transform: translateX(2rem);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;

        transform: none;
    }
}

.a-fade-in {
    opacity: 0;

    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1);
    animation-fill-mode: forwards;

    &.--from-bottom {
        animation-name: fadeIn_fromBottom;
    }

    &.--from-right {
        animation-name: fadeIn_fromRight;
    }
}
