// Utilities: Layout
// ============================================================================

.u-context {
    position: relative;

    @include --small-only {
        &--small-only {
            position: relative;
        }
    }

    @include --small-up {
        &--small-up {
            position: relative;
        }
    }

    @include --medium-up {
        &--medium-up {
            position: relative;
        }
    }
}

.u-position {
    position: absolute;

    @include --small-only {
        &--small-only {
            position: absolute;
        }
    }

    @include --small-up {
        &--small-up {
            position: absolute;
        }
    }

    @include --medium-up {
        &--medium-up {
            position: absolute;
        }
    }
}

.u-fixed {
    position: fixed;

    @include --small-only {
        &--small-only {
            position: fixed;
        }
    }

    @include --small-up {
        &--small-up {
            position: fixed;
        }
    }

    @include --medium-up {
        &--medium-up {
            position: fixed;
        }
    }
}


// Floating
// ---

.u-float-left {
    float: left;
}

.u-float-right {
    float: right;
}

.u-float-none {
    float: none;
}


// X- & Y-Index Positioning
// ---

@each $direction-name in $directions-map {
    .u-#{$direction-name}-0 {
        #{$direction-name}: $no-size;

        @include --small-only {
            &--small-only {
                #{$direction-name}: $no-size;
            }
        }

        @include --small-up {
            &--small-up {
                #{$direction-name}: $no-size;
            }
        }

        @include --medium-up {
            &--medium-up {
                #{$direction-name}: $no-size;
            }
        }
    }
}

@each $direction-name in $directions-map {
    .u-#{$direction-name}-halfway {
        #{$direction-name}: $one-half;

        @include --small-only {
            &--small-only {
                #{$direction-name}: $one-half;
            }
        }

        @include --small-up {
            &--small-up {
                #{$direction-name}: $one-half;
            }
        }

        @include --medium-up {
            &--medium-up {
                #{$direction-name}: $one-half;
            }
        }
    }
}

@each $direction-name in $directions-map {
    .u-#{$direction-name}-fullway {
        #{$direction-name}: $full-size;

        @include --small-only {
            &--small-only {
                #{$direction-name}: $full-size;
            }
        }

        @include --small-up {
            &--small-up {
                #{$direction-name}: $full-size;
            }
        }

        @include --medium-up {
            &--medium-up {
                #{$direction-name}: $full-size;
            }
        }
    }
}


// Realign (Translate)
// ---

.u-realign-center {
    transform: translate(-50%, -50%);

    @include --small-only {
        &--small-only {
            transform: translate(-50%, -50%);
        }
    }

    @include --small-up {
        &--small-up {
            transform: translate(-50%, -50%);
        }
    }

    @include --medium-up {
        &--medium-up {
            transform: translate(-$one-half, -$one-half);
        }
    }
}

.u-realign-center-vert {
    transform: translateY(-$one-half);

    @include --small-only {
        &--small-only {
            transform: translateY(-$one-half);
        }
    }

    @include --small-up {
        &--small-up {
            transform: translateY(-$one-half);
        }
    }

    @include --medium-up {
        &--medium-up {
            transform: translateY(-$one-half);
        }
    }
}

.u-realign-center-horz {
    transform: translateX(-$one-half);

    @include --small-only {
        &--small-only {
            transform: translateX(-$one-half);
        }
    }

    @include --small-up {
        &--small-up {
            transform: translateX(-$one-half);
        }
    }

    @include --medium-up {
        &--medium-up {
            transform: translateX(-$one-half);
        }
    }
}


// Z-Index Positioning
// ---

@each $layer-name, $layer-value in $z-map {
    .u-stack-#{$layer-name} {
        z-index: $layer-value;
    }
}
