section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-margin-bottom-xxl--medium-up.u-padding-left-md.u-padding-right-md#who-we-are
    
    script var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    
    div.c-text-content.u-measure-medium.u-margin-bottom-lg.u-margin-bottom-xl--medium-up
        
        h2.u-align-center.u-bold.u-margin-bottom-md You have an audience. We #[span.u-no-wrap respect them].
        include ../components/_divider
        
        p.u-align-center--small-up.u-color-dark 👋 Hi there, and happy #[script document.write(weekdays[new Date().getDay()]);]#[noscript day]! We’re #[span.u-secondary-font.u-bold.u-color-swap House House], a multidisciplinary design studio based in Vancouver, Canada that collaborates with people all over the world. We’re excited to join forces with you to #[a.u-no-wrap(href='#our-work') make something] wonderful together. We achieve results by striving to accomplish three things:


    div.u-flexbox--medium-up.u-padding-left-lg--medium-up
        
      div.c-text-content.u-flex.u-width-1of3--medium-up.u-padding-right-lg--small-up.u-margin-bottom-lg
          h4.u-flexbox.u-align-middle
              div.u-flex-shrink
                  span.u-flexbox.u-justify-middle.u-align-middle.u-circle.u-border-primary.u-margin-right-sm.u-text-size-small.u-bold(style='width:2rem; height:2rem;') 1
              | Connect
          p Our process starts with listening to your story. We discover who you are, uncover who is at the heart of your business and make a plan to connect your goals with their needs. We talk to make sure we're always on the same page, solving the right problems, and telling the same story.
          //- p #[a.js-modal-show(data-modal-trigger='process') Learn about our process &rarr;]
        
        div.c-text-content.u-flex.u-width-1of3--medium-up.u-padding-right-lg--small-up.u-margin-bottom-lg
            h4.u-flexbox.u-align-middle
                div.u-flex-shrink
                    span.u-flexbox.u-justify-middle.u-align-middle.u-circle.u-border-primary.u-margin-right-sm.u-text-size-small.u-bold(style='width:2rem; height:2rem;') 2
                | Work Differently
            p We're here to cut through the cacophony and build beautiful products that have purpose and function, not add to the noise — that doesn’t help anyone. We strive to give you inclusive and sustainable solutions that always have your audience at the heart.
            p #[a.js-modal-show(data-modal-trigger='statement') Read our design statement &rarr;]

        div.c-text-content.u-flex.u-width-1of3--medium-up.u-padding-right-lg--small-up
            h4.u-flexbox.u-align-middle
                div.u-flex-shrink
                    span.u-flexbox.u-justify-middle.u-align-middle.u-circle.u-border-primary.u-margin-right-sm.u-text-size-small.u-bold(style='width:2rem; height:2rem;') 3
                | Think Big
            p Got a visionary idea that needs a little push? A new product to bring to market? An audience that needs understanding? Let&rsquo;s start a conversation to see if our values jive with your ambitions and see if our solution-focused, scalable approach meshes with your vision.
            p #[a(href='#contact-us') Hire us and let’s talk &rarr;]
