// Utilities: Appearance
// ============================================================================

.u-rounded-corners {
    border-radius: $rounded-corners;
}

.u-very-rounded-corners {
    border-radius: $very-rounded-corners;
}

.u-circle {
    border-radius: $circle;
}

.u-not-transparent {
    opacity: $not-transparent;
}

.u-half-transparent {
    opacity: $half-transparent;
}

.u-fully-transparent {
    opacity: $fully-transparent;
}

.u-squiggle,
%u-squiggle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$accent-color}' stroke-width='1' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: 100% 100%;
    background-size: auto 3px;
}


// Overlays
// ---
//
// 1. Remove click events so if there are elements undeneath, they can still be
//    targeted by a mouse or finger.
// 2. Use both before/after pseudos so that both overlays can be placed on an
//    element simultaneously.

.u-noise,
.u-gradient {
    &::before,
    &::after {
        content: '';

        position: absolute;
    }
}

.u-noise {
    // 2

    &::before {
        @extend %a-noise;

        top: -50%;
        left: -50%;
        z-index: $z3-depth;

        width: 200%;
        height: 200%;

        background-image: url('../img/noise.png');
    }
}

.u-gradient {
    // 2

    &::after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: linear-gradient(to bottom, rgba($black, 0), $black);
    }
}

.u-glitch {
    &::before,
    &::after {
        content: attr(data-glitch);

        position: absolute;
        top: 0;
        bottom: 0;

        clip: rect(0, 0, 0, 0);
        width: 100%;
        height: 100%;
    }

    &::before {
        @extend %a-glitch-left;

        right: 0;
        left: $very-small-space;

        text-shadow: -$very-small-space 0 $tertiary-color;
    }

    &::after {
        @extend %a-glitch-right;

        right: $very-small-space;
        left: 0;

        text-shadow: $very-small-space 0 $accent-color;
    }
}
