p We’re here to cut through the cacophony and design and build flexible, engaging websites, apps, and static design that looks great and functions in a myriad of contexts. We do that by always considering the following:

h3 Consider Everyone

p While we cannot predict an audience’s physical or emotional state, we can work to address the needs of the least privileged first. We aim to create work that is attainable to the largest possible audience, and we work hard to provide the best possible experience to the least privileged.

ul 
    li Have I made something accessible to those with visual impairments?
    li Have integrated unfair or unwanted bias?
    li Have I properly tested this with the right audience?

h3 Move Quickly

p We listen and learn at every stage of a project, and strive to understand as much as we can about as many disciplines as possible, all in the best interest of our clients’ audiences. And when we are ready to act, we move quickly and iterate on base work. 

ul
    li Have I explored multiple avenues to a solution?
    li Do I have data to support my decisions?
    li Have I aligned my rationale to a real user problem?


h3 Work Together

p We prefer to form close relationships with our clients so that we can better understand their issues, which allow us to create achievable, measurable goals. We believe in our values, and do not budge on them in any way.

ul 
    li Have I compromised on my ethics or values in any way?
    li Am I fully aligned with team’s goals and expectations?
    li Have I received feedback from stakeholders and users?


h3 Aim For Comprehension 

p We don’t cut corners: Our design should always be crafted to the best of our abilities, and we have delivered work with real polish. We should art direct and create visual design that makes others awe, but most importantly communicates quickly, unobtrusively, and beautifully.

ul
    li Is every decision aligned with the end goal or high-level action?
    li Have I optimized my design for speed and efficiency?
    li Have I considered the smaller details?
