// Utilities: Background
// ============================================================================

@each $color-name, $color-value in $color-map {
    .u-bg-#{$color-name} {
        background-color: $color-value;
    }
}

.u-bg-cover {
    background-size: cover;
}

.u-bg-center {
    background-position: center;
}
