<!DOCTYPE html>
<html>
<head lang="en-ca">

    <!-- Hi there 👋 Thanks for checking out our site’s source code! You can view the full source code over on GitHub at https://github.com/househouse/house-house.design. If you have any questions, comments, concerns, or whatever, feel free to drop us a line!-->

    <!-- Page/Route Data -->
    <title>{{ site-title }}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="author" content="Ben Groulx, Sean Durfee, Caitlin Farquharson"/>
    <meta name="google-site-verification" content="XQrarlvRzShmAo5O_AzT_Wuinw1JiNI4IXWGltMtxkA"/>

    <!-- Twitter Cards Data -->
    <!-- <meta name="twitter:site" content="XXXX"/> -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ site-title }}"/>
    <meta name="twitter:image" content="{{ site-image }}"/>
    <meta name="twitter:image:alt" content="#{site_description}"/>
    <meta name="twitter:creator" content="@bengroulx, @durfeee"/>
    <meta name="twitter:description" content="#{site_description}"/>

    <!-- Standalone Web App Data -->
    <meta name="og:url" content="https://house-house.design"/>
    <meta name="og:type" content="website"/>
    <meta name="og:title" content="#{title}"/>
    <meta name="og:image" content="#{site_image}"/>
    <meta name="og:site_name" content="#{site_name}"/>
    <meta name="og:description" content="#{site_description}"/>

    <!-- Standalone Web App Data -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="#{site_name}"/>
    <meta name="msapplication-TileImage" content="/assets/startup/apple-icon-144.png"/>
    <meta name="theme-color" content="#4745d1"/>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/startup/apple-icon-114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/startup/apple-icon-144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/startup/apple-icon-152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/startup/apple-icon-180.png"/>
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/startup/android-icon-512.png"/>
    <link rel="icon" type="image/png" sizes="384x384" href="/assets/startup/android-icon-384.png"/>
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/startup/android-icon-256.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/startup/android-icon-192.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/startup/favicon-96.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/startup/favicon-32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/startup/favicon-16.png"/>

    <% for (var chunk of webpack.chunks) {
      for (var file of chunk.files) {
        if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
</head>
<body class="a-fade-in--mid-forwards no-js" onload="load();">

    <!--
        div(hidden='')
            include _spritesheet
    -->

    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>

    <div id="app"></div>

</body>
</html>
