// Utilities: Background
// ============================================================================

@each $color-name, $color-value in $color-map {
    .u-bg-#{$color-name} {
        background-color: $color-value;
    }
}

.u-bg-cover {
    background-size: cover;
}

.u-bg-center {
    background-position: center;
}

.u-bg-gradient-whiteout {
    background-image: linear-gradient(to bottom, var(--white) 10%, rgba(255, 255, 255, 0) 100%);
}

.u-bg-housecss {
    opacity: 0.4;
    background-image: url('assets/img/code-snippet.png');
}

.u-bg-stars {
    background-image: url('assets/img/stars.gif');
}

.u-bg-vdw {
    background-image: url('assets/img/project--vdw.jpg');
}

.u-bg-bi {
    background-image: url('assets/img/project--blancink.jpg');
}

.u-bg-lpf {
    background-image: url('assets/img/project--lawnpartyfilms.jpg');
}

.u-bg-askwill {
    background-image: url('assets/img/project--askwill.gif');
}

.u-bg-ufo {
    background-image: url('assets/img/project--stanford.jpg');
}
