// Utilities: Baseline
// ============================================================================

.u-baseline-xsmall {
    line-height: $hh-baseline-xsmall !important;
}

.u-baseline-small {
    line-height: $hh-baseline-small !important;
}

.u-baseline-base {
    line-height: $hh-baseline-base !important;
}

.u-baseline-medium {
    line-height: $hh-baseline-medium !important;
}

.u-baseline-large {
    line-height: $hh-baseline-large !important;
}

.u-baseline-xlarge {
    line-height: $hh-baseline-xlarge !important;
}
