// Utilities: Flex
// ============================================================================

.u-flexbox {
    display: flex;

    &:not([class*='flex-column']) {
        flex-direction: row;
    }

    @include --narrow-only {
        &--narrow-only {
            display: flex;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            display: flex;
        }
    }

    @include --medium-up {
        &--medium-up {
            display: flex;
        }
    }
}

.u-flex-column {
    flex-direction: column;

    @include --narrow-only {
        &--narrow-only {
            flex-direction: column;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            flex-direction: column;
        }
    }

    @include --medium-up {
        &--medium-up {
            flex-direction: column;
        }
    }
}

.u-flex-wrap {
    flex-wrap: wrap;
}


// Flex Layout
// ---

.u-align-start {
    align-items: start;

    @include --narrow-only {
        &--narrow-only {
            align-items: start;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            align-items: start;
        }
    }

    @include --medium-up {
        &--medium-up {
            align-items: start;
        }
    }
}

.u-align-middle {
    align-items: center;

    @include --narrow-only {
        &--narrow-only {
            align-items: center;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            align-items: center;
        }
    }

    @include --medium-up {
        &--medium-up {
            align-items: center;
        }
    }
}

.u-align-end {
    align-items: flex-end;

    @include --narrow-only {
        &--narrow-only {
            align-items: flex-end;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            align-items: flex-end;
        }
    }

    @include --medium-up {
        &--medium-up {
            align-items: flex-end;
        }
    }
}

.u-justify-start {
    justify-content: flex-start;

    @include --narrow-only {
        &--narrow-only {
            justify-content: flex-start;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            justify-content: flex-start;
        }
    }

    @include --medium-up {
        &--medium-up {
            justify-content: flex-start;
        }
    }
}

.u-justify-end {
    justify-content: flex-end;

    @include --narrow-only {
        &--narrow-only {
            justify-content: flex-end;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            justify-content: flex-end;
        }
    }

    @include --medium-up {
        &--medium-up {
            justify-content: flex-end;
        }
    }
}

.u-justify-middle {
    justify-content: center;

    @include --narrow-only {
        &--narrow-only {
            justify-content: center;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            justify-content: center;
        }
    }

    @include --medium-up {
        &--medium-up {
            justify-content: center;
        }
    }
}


// Flexbox Children
// ---

.u-flex {
    display: block;
    flex: 1 1 auto;
}

.u-flex-expand {
    display: block;
    flex: 1;
}

.u-flex-shrink {
    display: block;
    flex: 0 1 auto;
}
