// Utilities: Text
// ============================================================================


// Text/Font Sizes
// ---

.u-text-size-xsmall,
%u-text-size-xsmall {
    font-size: $hh-font-size-xsmall !important;

    @include --narrow-up {
        &--narrow-up {
            font-size: $hh-font-size-xsmall !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            font-size: $hh-font-size-xsmall !important;
        }
    }

    @include --medium-only {
        &--medium-only {
            font-size: $hh-font-size-xsmall !important;
        }
    }
}

.u-text-size-small,
%u-text-size-small {
    font-size: $hh-font-size-small !important;

    @include --narrow-up {
        &--narrow-up {
            font-size: $hh-font-size-small !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            font-size: $hh-font-size-small !important;
        }
    }

    @include --medium-only {
        &--medium-only {
            font-size: $hh-font-size-small !important;
        }
    }
}

.u-text-size-base,
%u-text-size-base {
    font-size: $hh-font-size-base !important;

    @include --narrow-up {
        &--narrow-up {
            font-size: $hh-font-size-base !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            font-size: $hh-font-size-base !important;
        }
    }

    @include --medium-only {
        &--medium-only {
            font-size: $hh-font-size-base !important;
        }
    }
}

.u-text-size-medium,
%u-text-size-medium {
    font-size: $hh-font-size-medium !important;

    @include --narrow-up {
        &--narrow-up {
            font-size: $hh-font-size-medium !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            font-size: $hh-font-size-medium !important;
        }
    }

    @include --medium-only {
        &--medium-only {
            font-size: $hh-font-size-medium !important;
        }
    }
}

.u-text-size-large,
%u-text-size-large {
    font-size: $hh-font-size-large !important;

    @include --narrow-up {
        &--narrow-up {
            font-size: $hh-font-size-large !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            font-size: $hh-font-size-large !important;
        }
    }

    @include --medium-only {
        &--medium-only {
            font-size: $hh-font-size-large !important;
        }
    }
}

.u-text-size-xlarge,
%u-text-size-xlarge {
    font-size: $hh-font-size-xlarge !important;

    @include --narrow-up {
        &--narrow-up {
            font-size: $hh-font-size-xlarge !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            font-size: $hh-font-size-xlarge !important;
        }
    }

    @include --medium-only {
        &--medium-only {
            font-size: $hh-font-size-xlarge !important;
        }
    }
}


// Text/Font Families
// ---

.u-text-family-primary,
%u-text-family-primary {
    font-family: $hh-font-family-primary !important;
}

.u-text-family-secondary,
%u-text-family-secondary {
    font-family: $hh-font-family-secondary !important;
}

.u-text-family-headline,
%u-text-family-headline {
    font-family: $hh-font-family-headline !important;
}

.u-text-family-code,
.u-text-family-mono,
%u-text-family-code,
%u-text-family-mono {
    font-family: $hh-font-family-code !important;
}


// Text/Font Styles
// ---

.u-text-underline,
%u-text-underline {
    text-decoration: underline !important;
}

.u-text-no-underline,
%u-text-no-underline {
    text-decoration: none !important;
}

.u-text-linethrough,
%u-text-linethrough {
    text-decoration: line-through !important;
}


// Text/Font Weights
// ---
//
// 1. The same style could be applied by using an element. (i.e. `em`, `strong`,
//    etc.) Think about what may be more semantically correct for your specific
//    situation.

.u-text-weight-thin,
%u-text-weight-thin,
.u-text-weight-light,
%u-text-weight-light,
.u-thin,
%u-thin,
.u-light,
%u-light {
    font-weight: $hh-font-weight-thin !important; // 1
}

.u-text-weight-regular,
%u-text-weight-regular,
.u-regular,
%u-regular {
    font-weight: $hh-font-weight-regular !important; // 1
}

.u-text-weight-bold,
%u-text-weight-bold,
.u-bold,
%u-bold {
    font-weight: $hh-font-weight-bold !important; // 1
}

.u-text-italic,
%u-text-italic {
    font-style: italic;
}


// Text/Font Alignment
// ---

.u-text-align-left,
%u-text-align-left {
    text-align: left;

    @include --narrow-only {
        &--narrow-only {
            text-align: left;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            text-align: left;
        }
    }
}

.u-text-align-center,
%u-text-align-center {
    text-align: center;

    @include --narrow-only {
        &--narrow-only {
            text-align: center;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            text-align: center;
        }
    }

    @include --medium-up {
        &--medium-up {
            text-align: center;
        }
    }
}

.u-text-align-right,
%u-text-align-right {
    text-align: right;

    @include --narrow-only {
        &--narrow-only {
            text-align: right;
        }
    }

    @include --narrow-up {
        &--narrow-up {
            text-align: right;
        }
    }

    @include --medium-up {
        &--medium-up {
            text-align: right;
        }
    }
}


// Text/Font Casing
// ---

.u-text-uppercase,
%u-text-uppercase {
    text-transform: uppercase;
}

.u-text-lowercase,
%u-text-lowercase {
    text-transform: lowercase;
}

.u-text-capitalize,
%u-text-capitalize {
    text-transform: capitalize;
}


// Text/Font Tracking
// ---

.u-text-trackig-loose,
%u-text-trackig-loose {
    letter-spacing: 0.125em;
}


// Text/Font Lists
// ---

.u-text-list-bullets,
%u-text-list-bullets {
    list-style: disc;

    li {
        margin-left: $hh-spacing-small;
    }
}

.u-text-list-bullets,
%u-text-list-bullets {

}
