// Faux Link Component
// ===

.c-faux-link {
    &:hover {
        cursor: pointer;
    }
}

.c-faux-link__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z4-depth;

    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-indent: 200%;

    .lt-ie9 & {
        opacity: 0;
        background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
    }

    &:hover {
        background: none;
    }
}
