doctype
html(lang='en-ca')

    != partial('/includes/partials/_head')

    body.a-fade-in--mid-forwards
        div(hidden='')
            != partial('/includes/partials/_spritesheet')
        != partial('/includes/partials/_header')
        != partial('/includes/partials/_main')
        != partial('/includes/partials/_footer')
