include /includes/components/_card

section.u-context.u-margin-bottom-xl.u-clip
    != partial('/includes/partials/_video')
    div.u-position.u-stack-basic.u-top-halfway.u-realign-center-vert.u-measure-medium.u-hidden--small-only
        h4.u-padding-left-xl--small-up.u-bold(style='line-height:2.5;')
            span.u-bg-light.u-padding-top-sm.u-padding-bottom-sm
                | Wherever you are, #[span.u-color-primary design] will help you better communicate with your audience. #[span.u-color-primary We can help.]

section.u-margin-bottom-xl.u-padding-left-md.u-padding-right-md#who-we-are
    script var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    div.c-text-content.u-measure-medium.u-margin-bottom-xl.u-align-center
        h3 You have an audience. We respect them.
        p Hi there, and happy #[script document.write(weekdays[new Date().getDay()]);]#[noscript day]! We’re House House, a multidisciplinary design studio from Canada that collaborates with people all over the world. We’re very excited to collaborate with you and #[a(href='#') make something] together.
        
div.u-margin-bottom-xl.u-padding-bottom-xs.u-width-1of4.u-block.u-measure-narrow.a-back-forth.u-squiggle

section.u-margin-bottom-xl.u-padding-left-md.u-padding-right-md
    div.c-text-content.u-measure-medium.u-margin-bottom-xl
        h3.u-visually-hidden House House is a multidisciplinary design studio from Canada that can help you with art direction, front-end development, web design, and more.
        p We work differently than the last agency you hired; Many design shops would prefer to shoehorn your business into their process, instead of listening to what you have to say and expanding outwards from that. We, too, can go on and on about design, but we would much rather listen to you: our adoration and grasp of what design is, and how it works, is a given… not a selling feature.
        p We listen to uncover not only who you are, but who is listening to you. When you work with us, you will see us put in the time and energy to uncover an understanding of your audience. We’ll work tirelessly until we truly know them. Until we feel we can connect your goals to their needs in a way that is seamless, accessible, intelligent. Until we can have them come away saying, “of course.”
        p Because, you see, we love how design can help people. We’re not interested in adding to the noise — that doesn’t help anyone. We’re here to cut through the cacophony and design and build flexible, engaging websites, apps, and static design that looks great and functions in a myriad of contexts.
        p You’ve got a visionary idea or you wouldn’t be here right now. Let’s start a conversation to see if our values jive with yours. If our approach fits your needs. If our solution-focused, scalable work meshes with your vision.
        p So hire us.

div.u-margin-bottom-xl.u-padding-bottom-xs.u-width-1of4.u-block.u-measure-narrow.a-back-forth.u-squiggle

section.u-margin-bottom-xl.u-padding-left-md.u-padding-right-md#our-work
    div.u-measure-medium.u-align-center
        h3.u-margin-bottom-lg What do you need done?
        div.u-flexbox--small-up
            div.u-flex
                span.u-block 📝 Art Direction 
                span.u-block 🌄 Brand Identity  
                span.u-block 📚 Graphic Design
                span.u-block 💻 Responsive Websites
            div.u-flex
                span.u-block ⌨️ Front-End Dev
                span.u-block 🚚 Product Design
                span.u-block 📦 Packaging Design 
                span.u-block 📱 Progressive Web Apps
            div.u-flex
                span.u-block 🎬 Film Editing
                span.u-block 🌀 Motion Design 
                span.u-block 📰 Editorial Design 
                span.u-block 🗺 Environmental Design

div.u-margin-bottom-xl.u-padding-bottom-xs.u-width-1of4.u-block.u-measure-narrow.a-back-forth.u-squiggle

section.u-margin-bottom-lg.u-padding-left-md.u-padding-right-md.u-clip
    div.u-measure-medium.u-margin-bottom-lg.u-align-center 
        h3 What have we been working on lately?
    div.u-flexbox--small-up.u-flex-wrap
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'housecss',
                    'Front-End Development',
                    '/assets/img/housecss.jpg',
                    'https://github.com/househouse/housecss')
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--medium-up
                +card(
                    'Kost',
                    'Product Design',
                    '/assets/img/kost.jpg',
                    '#')
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'Bitchpop',
                    'Film & Brand Design',
                    '/assets/img/bitchpop.jpg',
                    'http://bitchpopproductions.com')
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full
                +card(
                    'Stanford',
                    'Responsive Web Design',
                    '/assets/img/stanford.jpg',
                    'https://www.stanford.edu/')

div.u-margin-bottom-xl.u-padding-bottom-xs.u-width-1of4.u-block.u-measure-narrow.a-back-forth.u-squiggle

section.u-margin-bottom-xl.u-padding-left-md.u-padding-right-md.u-clip
    div.u-measure-medium
        h3.u-margin-bottom-lg.u-align-center It’s a pleasure to meet you!
        div.u-clip.u-margin-bottom-lg
            figure.u-context.u-float-left.u-width-1of3.u-margin-right-md.u-clip
                img.u-block(src='assets/img/-ben-groulx.gif', alt='Illustrated portrait of Ben Groulx')
            div.c-text-content
                h4.u-text-size-base.u-bold Ben Groulx
                ul
                    li.u-inline-block.u-margin-right-md
                        a(href='https://linkedin.com/in/bengroulx') LinkedIn
                    li.u-inline-block
                        a(href='http://bengroulx.com') Website
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vel excepturi minima recusandae dolor obcaecati optio, expedita velit iusto quos sapiente ipsam nisi incidunt at, mollitia beatae et dolore reprehenderit!
        div.u-clip.u-margin-bottom-lg
            figure.u-context.u-float-left.u-width-1of3.u-margin-right-md.u-clip
                img.u-block(src='assets/img/-sean-durfee.gif', alt='Illustrated portrait of Sean Durfee')
            div.c-text-content
                h4.u-text-size-base.u-bold Sean Durfee
                ul
                    li.u-inline-block.u-margin-right-md
                        a(href='https://linkedin.com/in/sean-durfee-ba393b5a') LinkedIn
                    li.u-inline-block
                        a(href='http://durfee.me/') Website
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vel excepturi minima recusandae dolor obcaecati optio, expedita velit iusto quos sapiente ipsam nisi incidunt at, mollitia beatae et dolore reprehenderit!
        div.u-clip
            figure.u-context.u-float-left.u-width-1of3.u-margin-right-md.u-clip
                img.u-block(src='assets/img/-caitlin-farquharson.gif', alt='Illustrated portrait of Caitlin Farquharson')
            div.c-text-content
                h4.u-text-size-base.u-bold Caitlin Farquharson
                ul
                    li.u-inline-block.u-margin-right-md
                        a(href='https://linkedin.com/in/caitlinfarquharson') LinkedIn
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vel excepturi minima recusandae dolor obcaecati optio, expedita velit iusto quos sapiente ipsam nisi incidunt at, mollitia beatae et dolore reprehenderit!

div.u-margin-bottom-xl.u-padding-bottom-xs.u-width-1of4.u-block.u-measure-narrow.a-back-forth.u-squiggle

section.u-margin-bottom-xl.u-padding-left-md.u-padding-right-md.u-clip#contact-us
    div.c-text-content.u-measure-medium.u-align-center
        h3 Shall we work together?
        ul
            li.u-inline-block.u-margin-right-md
                a(href='#') Slack
            li.u-inline-block.u-margin-right-md
                a(href='#') GitHub
            li.u-inline-block
                a(href='#') Twitter
        p contact info + form here

div.u-margin-bottom-xl.u-padding-bottom-xs.u-width-1of4.u-block.u-measure-narrow.a-back-forth.u-squiggle
