// Global Typographic Styles
// ============================================================================

body {
    @extend %type-copy;
}

h1 {
    @extend %type-headline;
}

h2 {
    @extend %type-subheadline;
}

h3 {
    @extend %type-title;
}

h4,
h5,
h6 {
    @extend %type-subtitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    font-weight: $regular-font;
    line-height: $tight-leading;
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

small {
    @extend %type-small;
}

code,
pre {
    font-family: $code-font;
}

a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
        @extend %a-back-forth;

        color: $primary-color;
    }
}
