// @import url("https://use.typekit.net/nxg7whm.css");

@font-face {
    font-family: 'HH Tiempos Headline';
    font-style: italic;
    font-weight: $hh-font-weight-bold;
    font-display: optional;

    src:
    url('../../static/fonts/tiempos-headline--bold-italic.woff2') format('woff2'),
    url('../../static/fonts/tiempos-headline--bold-italic.woff') format('woff');
}

@font-face {
    font-family: 'HH Tiempos Headline';
    font-style: normal;
    font-weight: $hh-font-weight-bold;
    font-display: optional;

    src:
    url('../../static/fonts/tiempos-headline--bold.woff2') format('woff2'),
    url('../../static/fonts/tiempos-headline--bold.woff') format('woff');
}

@font-face {
    font-family: 'HH Tiempos Text';
    font-style: italic;
    font-weight: $hh-font-weight-regular;
    font-display: optional;

    src:
    url('../../static/fonts/tiempos-text--regular-italic.woff2') format('woff2'),
    url('../../static/fonts/tiempos-text--regular-italic.woff') format('woff');
}

@font-face {
    font-family: 'HH Tiempos Text';
    font-style: italic;
    font-weight: $hh-font-weight-bold;
    font-display: optional;

    src:
    url('../../static/fonts/tiempos-headline--bold-italic.woff2') format('woff2'),
    url('../../static/fonts/tiempos-headline--bold-italic.woff') format('woff');
}

@font-face {
    font-family: 'HH Tiempos Text';
    font-style: normal;
    font-weight: $hh-font-weight-regular;
    font-display: optional;

    src:
    url('../../static/fonts/tiempos-text--regular.woff2') format('woff2'),
    url('../../static/fonts/tiempos-text--regular.woff') format('woff');
}

@font-face {
    font-family: 'HH Tiempos Text';
    font-style: normal;
    font-weight: $hh-font-weight-bold;
    font-display: swap;

    src:
    url('../../static/fonts/tiempos-headline--bold.woff2') format('woff2'),
    url('../../static/fonts/tiempos-headline--bold.woff') format('woff');
}

@font-face {
    font-family: 'HH GT Walsheim';
    font-style: normal;
    font-weight: $hh-font-weight-regular;
    font-display: swap;

    src:
    url('../../static/fonts/gt-walsheim--regular.woff2') format('woff2'),
    url('../../static/fonts/gt-walsheim--regular.woff') format('woff');
}

@font-face {
    font-family: 'HH GT Walsheim';
    font-style: italic;
    font-weight: $hh-font-weight-regular;
    font-display: swap;

    src:
    url('../../static/fonts/gt-walsheim--regular-oblique.woff2') format('woff2'),
    url('../../static/fonts/gt-walsheim--regular-oblique.woff') format('woff');
}

@font-face {
    font-family: 'HH GT Walsheim';
    font-style: normal;
    font-weight: $hh-font-weight-bold;
    font-display: swap;

    src:
    url('../../static/fonts/gt-walsheim--demi.woff2') format('woff2'),
    url('../../static/fonts/gt-walsheim--demi.woff') format('woff');
}

@font-face {
    font-family: 'HH GT Walsheim';
    font-style: italic;
    font-weight: $hh-font-weight-bold;
    font-display: swap;

    src:
    url('../../static/fonts/gt-walsheim--demi-oblique.woff2') format('woff2'),
    url('../../static/fonts/gt-walsheim--demi-oblique.woff') format('woff');
}
