doctype html
html(lang='en-ca')
    head
        include includes/partials/_head
    
    body.no-js(onload='load();')

        main.a-fade-in.--from-bottom(style="opacity:0;")
            section.c-section
                div.c-contain
                    h1.c-title 404

        footer.a-fade-in.--from-bottom(style='opacity:0;')
            include includes/partials/_footer

        script.
            // Remove the `.no-js` class from <body>
            function load() {
                document.body.classList.remove('no-js');
            }
            
            // Define brand colours and define the various shape elements
            var colors = [
                'var(--indigo-dark)', 
                'var(--indigo-light)', 
                'var(--orange-light)',
                'var(--violet-light)',
                'var(--green-light)',
            ], boxes = document.querySelectorAll(".c-shapes__single");
            
            // Apply a random brand colour various elements
            for (i = 0; i < boxes.length; i++) {
                boxes[i].style.color = colors[Math.floor(Math.random() * colors.length)];
            }
