$hh-button-block-height: ($hh-unit * 11);

.c-button-block {
    @extend %u-text-uppercase;
    @extend %u-text-trackig-loose;
    @extend %u-text-no-underline;

    min-height: $hh-button-block-height;
    padding: 0 $hh-spacing-base;
    border: 0;

    border-radius: 0.25rem;

    font-weight: $hh-font-weight-bold;
    font-size: $hh-font-size-small;
    line-height: $hh-button-block-height;

    transition: $hh-animation-fast;
}
