$hh-button-block-height: ($hh-unit * 11);
$hh-button-block-small-height: ($hh-unit * 8);

.c-button-block,
%c-button-block {
    @extend %u-text-no-underline;

    border: 0;

    border-radius: 0.25rem;

    font-weight: $hh-font-weight-bold;
    font-size: $hh-font-size-small;
    text-align: center;

    transition: $hh-animation-fast;

    &:not(.c--small) {
      @extend %u-text-uppercase;
      @extend %u-text-trackig-loose;

      padding: 0 $hh-spacing-base;

      min-height: $hh-button-block-height;
      line-height: $hh-button-block-height;
    }

    &.c--small {
        padding: 0 $hh-spacing-small;

        min-height: $hh-button-block-small-height;
        line-height: $hh-button-block-small-height;
    }
}
