.c-text-content {
    > * {
        margin-bottom: 1em;
    }
}

.c-title {
    margin-bottom: 1em;

    span {
        @include break(650) {
            & {
                display: block;
            }
        }

        &:nth-child(1) {
            @include break(510) {
                & {
                    display: block;
                }
            }

            color: var(--indigo-dark);
        }

        &:nth-child(3) {
            color: var(--orange-dark);
        }
    }
}

.c-resident {
    width: 100%;

    transition: ease-out all 0.15s;

    @include break(600) {
        display: flex;

        &:hover &__image {
            border-radius: 1rem;
            box-shadow: 0 1rem 5rem rgba(0, 0, 100, 0.3);

            transform: scale(1.05) rotate(-4deg);

            &::after {
                transform: translate(-4rem, 4rem);
            }
        }
    }

    &__image,
    &__info {
        @include break(600) {
            width: 50%;
        }
    }

    &__image {
        position: relative;

        display: block;
        overflow: hidden;
        min-height: 10rem;
        border-radius: 0.25rem;

        background-position: center;
        background-size: cover;

        &,
        &::after {
            z-index: -1;
            transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
        }

        &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 4rem;
            height: 4rem;

            background-image: url('data:image/svg+xml;utf8,<svg style="fill:#f3f6fa;" width="80" height="80" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg"><path fill-opacity="0.3" d="M0 0h20v20h-20z"/><path fill-opacity="0.3" d="M20 20h20v20h-20z"/><path fill-opacity="0.6" d="M0 20h20v20h-20z"/><path fill-opacity="0.9" d="M0 40h20v20h-20z"/><path fill-opacity="0.9" d="M20 60h20v20h-20z"/><path fill-opacity="1.0" d="M0 60h20v20h-20z"/><path fill-opacity="0.6" d="M20 40h20v20h-20z"/><path fill-opacity="0.6" d="M40 60h20v20h-20z"/><path fill-opacity="0.3" d="M40 40h20v20h-20z"/><path fill-opacity="0.3" d="M60 60h20v20h-20z"/></svg>');
            background-size: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;

        @include break(800) {
            padding-top: 18%;
            padding-bottom: 1rem;
        }
    }

    &__name,
    &__role {
        padding-top: 0.5rem;

        line-height: 1;
    }
}

.c--ben .c-resident__image {
    background-image: url('assets/img/-ben.png');
}

.c--sean .c-resident__image {
    background-image: url('assets/img/-sean.jpg');
}

.c-particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    display: none;

    @include break(900) {
        display: block;
    }
}
