.c-contain {
    max-width: 1140px;

    margin-right: auto;
    margin-left: auto;

    @include --wide-down {
        padding: 0 10%;
    }

    @include --medium-down {
        padding: 0 5%;
    }
}
