.c-contain {
    max-width: $hh-content-area-wide;

    margin-right: auto;
    margin-left: auto;

    padding: 0 2%;

    @include --wide-down {
        padding: 0 5%;
    }

    @include --medium-down {
        padding: 0 5%;
    }
}
