@import '../1-settings/_variables';
@import '../1-settings/_responsive';

$animation: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);

.c-nav-crumbs {
    position: fixed;
    z-index: 100;

    &.--large {
        top: 10%;
        right: 3rem;
        left: calc(100% - 10rem);

        display: none;
        width: 3rem;
        margin-right: 5%;
        padding: $hh-spacing-small;

        border-radius: 16px;

        transition: $animation;
    }

    &.--mobile {
        top: 1em;
        right: auto;
        bottom: auto;
        left: 1em;

        width: 3em;
        height: 3em;

        &.isExpanded {
            top: 1em;
            right: 1em;
            bottom: 1em;
            left: 1em;

            width: auto;
            height: auto;

            background: var(--white);
        }
    }

    ul {
        display: block;

        white-space: nowrap;
        list-style: none;

        a {
            text-decoration: none;
        }
    }

    &.--large:hover {
        width: 10rem;
        background: var(--white);
    }

    @include break(768) {
        width: 8rem;
        margin-right: 5%;

        transform: translateX(0);

        &.--mobile {
            display: none;
        }

        &.--large {
            display: block;
        }

        &.isExpanded,
        &.--large:hover {
            width: 14rem;

            background: rgba(255, 255, 255, 1);
            box-shadow: 0 0 10em rgba(0,0,0,0.1);
        }
    }

    @include break(900) {
        width: 10rem;

        &.--large {
            left: 75vw;
        }
    }
}

.c-nav-crumbs__back {
    position: relative;

    display: block;
    overflow: hidden;
    width: 3rem;
    height: 3rem;

    background: var(--blue-dark);
    box-shadow: 0 0 2px var(--white);

    line-height: 3rem;
    white-space: nowrap;

    transition: $animation;

    .c-nav-crumbs.isExpanded &,
    .c-nav-crumbs.--large:hover & {
        width: 8rem;

        @include break(768) {
            transform: translateX(0);
        }
    }

    &,
    &::after {
        transition: $animation;
    }

    svg {
        margin-left: 1rem;

        fill: none;

        path,
        polyline {
            stroke: white;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
    }

    span {
        display: inline-block;
        padding-right: 1rem;
        padding-left: 1rem;

        opacity: 0;

        color: rgba(white, 0);

        transform: translate(-1rem, 0);

        transition: $animation;

        .c-nav-crumbs.isExpanded &,
        .c-nav-crumbs.--large:hover & {
            color: rgba(white, 1);
        }
    }

    .c-nav-crumbs__back:hover span {
        color: #2770bf;
    }

    .c-nav-crumbs.isExpanded & div,
    .c-nav-crumbs.--large:hover & div {
        background: rgba(65, 138, 216, 0.25);
    }

    .c-nav-crumbs.isExpanded & div svg path,
    .c-nav-crumbs.isExpanded & div svg polyline,
    .c-nav-crumbs.--large:hover & div svg path,
    .c-nav-crumbs.--large:hover & div svg polyline {
        stroke: #418ad8;
    }

    .c-nav-crumbs.isExpanded & span,
    .c-nav-crumbs.--large:hover & span{
        opacity: 1;

        transform: translateX(0);
    }
}

.c-nav-crumbs__major {
    padding-top: 1rem;
    padding-left: 3rem;

    opacity: 0;

    transition: $animation;

    pointer-events: none;

    @include break(768) {
        opacity: 1;
    }

    .c-nav-crumbs.isExpanded &,
    .c-nav-crumbs.--large:hover & {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;

        @include break(768) {
            transform: translateX(0);
        }
    }

    li {
        margin-bottom: 5px;

        &::after {
            content: "";

            position: absolute;
            left: 0.75rem;

            width: 1rem;
            height: 1rem;

            border-radius: 50%;
            background-color: var(--grey-medium);

            transition: $animation;
        }

        &:not(:last-child)::before {
            content: "";

            position: absolute;
            left: 1.2rem;

            width: 0.125rem;
            height: 2rem;
            margin-top: 1rem;

            background-color: var(--grey-medium);

            transition: $animation;
        }

        a {
            display: inline-block;

            opacity: 0;

            transform: translateY(-0.5rem);

            transition: $animation;

            .c-nav-crumbs.isExpanded &,
            .c-nav-crumbs.--large:hover & {
                opacity: 1;

                transform: translateY(0);
            }

            &:hover {
                color: red;
            }
        }
    }

    .c-nav-crumbs.isExpanded & li::after,
    .c-nav-crumbs.--large:hover & li::after {
        background: var(--blue-dark);

        transform: translateY(6px);
    }

    .c-nav-crumbs & li.isActive::after {
        background: var(--blue-dark);
    }

    .c-nav-crumbs.isExpanded & .active::after,
    .c-nav-crumbs.--large:hover & .active::after {
        background: #5a667f;
    }
}

.c-nav-crumbs__minor {
    position: absolute;

    padding-left: 3rem;

    opacity: 0;

    transform: translateY(-10px);

    transition: $animation;

    a {
        transition: $animation;

        &:hover {
            color: #9098a9;
        }
    }

    .c-nav-crumbs.isExpanded &,
    .c-nav-crumbs.--large:hover & {
        position: relative;

        opacity: 1;

        transform: translateY(0);

        pointer-events: auto;

        @include break(768) {
          transform: translateY(0) translateX(0);
        }
    }
}
