.c-pill-group,
%c-pill-group {
    @extend %u-context;

    padding-left: $hh-spacing-small;

    @include --medium-only {
        min-width: 50%;
        float: left;
    }

    &::before {
        @extend %u-position;
        @extend %u-circle;

        content: '';

        top: 0;
        bottom: 0;
        left: 0;

        width: $hh-spacing-xsmall;
    }

    &.c--blue-dark::before {
        background-color: var(--blue-dark);
    }

    &.c--blue-light::before {
        background-color: var(--blue-light);
    }

    &.c--purple-light::before {
        background-color: var(--purple-light);
    }

    &.c--green-light::before {
        background-color: var(--green-light);
    }
}
