.c-text-content {
    > * {
        margin-bottom: 1em;
    }

    a {
        padding-bottom: 0.2em;
        border-bottom: 2px solid var(--orange-dark);

        color: var(--black);
        text-decoration: none;

        transition: all 0.2s ease;

        &:hover {
            padding-bottom: 0;
            border-bottom-width: 0.3em;

            border-bottom-color: rgba(blue, 0.15);

            color: var(--orange-dark);
        }
    }
}
