.c-title {
    span {
        @include break(650) {
            & {
                display: block;
            }
        }

        &:nth-child(1) {
            color: var(--indigo-dark);

            @include break(510) {
                & {
                    display: block;
                }
            }
        }

        &:nth-child(2) {
            color: var(--orange-dark);
        }
    }
}
