.a-scale-out-enter-active {
    transition: all 0.9s cubic-bezier(0, 0, 0.3, 1);
}

.a-scale-out-leave-active {
    transition: all 0.8s cubic-bezier(0.3, 0, 1, 1);
}

.a-scale-out-enter {
    opacity: 0;

    transform: translate(0, 2rem);
    transform-origin: center;
}

.a-scale-out-leave-to {
    display: none;

    opacity: 0;

    transform: scale(0.95, 0.95);
}
