// Extends
// ===
//
// Use caution with extends! Extends should only ever be used as a placeholder
// item. (i.e. use a `%` instead of a `.` class.)
//
// Note: If you are looking for the extends of typographic styles (i.e. h1, h2,
//       small, etc.) look in the _type-scale.scss partial.


// Cover
// ---
//
// Pull an element all the way to every edge. Use in conjuction with a layout
// utility, such as .u-fixed.

%x-cover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// Cover
// ---
//
// Vertically and horizontally center an item in its parent. Use in conjuction
// with a layout utility, such as .u-fixed.

%x-center {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
