// Global Variables
// ===


// Size Variables
// ---

$unit: 1em;
$sub-unit: $unit / 2;


// Type Variables
// ---
//
// Note: To set font sizes, use the typographic scale found in the
//       _type-scale.scss partial.

$font-family--emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
$font-family--mono: 'PT Mono', monospace;
$font-family--base: $font-family--mono, $font-family--emoji;

$font-size--base: $unit;

$font-weight--base: 300;
$font-weight--bold: 700;

$line-height--base: 1.6;
$line-height--tight: 1.15;


// Colour Variables
// ---

// Defaults
$beige: #efe8d8;
$dark-blue: #3c485d;

// Pastels
$pastel-blue: #668de5;
$pastel-pink: #ed6d79;
$pastel-green: #67eebd;

// Neutrals
$black: darken($dark-blue, 10%);
$white: lighten($beige, 10%);


// Width of the content area
// ---

$content-area--small: 30em;
$content-area--medium: 45em;
$content-area--large: 60em;


// Style Variables
// ---

$border-radius: $unit / 4;


// Z Axis
// ---

$z0-depth: -1;
$z1-depth: 1;
$z2-depth: 10;
$z3-depth: 100;
$z4-depth: 1000;
