// Typographic Scale
//
// “The simplest scale is a single note, and sticking with a single note draws
// more attention to other parameters, such as rhythm and inflection... In the
// sixteenth century, a series of common sizes developed among European
// typographers, and the series survived with little change and few additions
// for 400 years... This is the typographic equivalent of the diatonic scale.”
// -- Robert Bringhurst - The Elements of Typographic Style


// Type Scale Variables
// ---

$type-scale--base: $configure--text-size;
$type-scale--ratio: $configure--base-ratio;

$type-scale--step-1: $type-scale--ratio * $type-scale--base;
$type-scale--step-2: $type-scale--ratio * $type-scale--step-1;
$type-scale--step-3: $type-scale--ratio * $type-scale--step-2;
$type-scale--step-4: $type-scale--ratio * $type-scale--step-3;
$type-scale--step-5: $type-scale--ratio * $type-scale--step-4;
$type-scale--step-6: $type-scale--ratio * $type-scale--step-5;
$type-scale--step-7: $type-scale--ratio * $type-scale--step-6;


// Type Size Options
// ---

%type-headline {
    font-size: $type-scale--step-4;

    @include --medium-up {
        font-size: $type-scale--step-5;
    }

    @include --large-up {
        font-size: $type-scale--step-6;
    }
}

%type-subheadline {
    font-size: $type-scale--step-3;

    @include --medium-up {
        font-size: $type-scale--step-4;
    }

    @include --large-up {
        font-size: $type-scale--step-5;
    }
}

%type-title {
    font-size: $type-scale--step-2;

    @include --medium-up {
        font-size: $type-scale--step-3;
    }

    @include --large-up {
        font-size: $type-scale--step-4;
    }
}

%type-subtitle {
    font-size: $type-scale--step-1;

    @include --medium-up {
        font-size: $type-scale--step-2;
    }

    @include --large-up {
        font-size: $type-scale--step-3;
    }
}

%type-copy {
    font-size: $type-scale--base;

    @include --medium-up {
        font-size: $type-scale--step-1;
    }
}

%type-small {
    font-size: $type-scale--base / ($type-scale--ratio * $type-scale--ratio);
}
