// Utilities: Display
// ===


// Display
// ---

.u-block {
    display: block;
}

.u-inline-block {
    display: inline-block;
}

.u-clip {
    overflow: hidden;
}


// Fluid Sizes
// ---

.u-full-width {
    width: 100%;
}

.u-half-width {
    width: 50%;
}

.u-quarter-width {
    width: 25%;
}

.u-full-height {
    height: 100%;
}

.u-half-height {
    height: 50%;
}

.u-quarter-height {
    height: 25%;
}


// Viewport Sizes
// ---

.u-full-vw {
    width: 100vw;
}

.u-full-vh {
    height: 100vh;
}


// Visibility
// ---

.u-visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
}
