// Utilities: margin
// ===

.u-margin {
    margin: $unit;
}

.u-margin-top {
    margin-top: $unit;
}

.u-margin-bottom {
    margin-bottom: $unit;
}

.u-margin-start {
    margin-left: $unit;
}

.u-margin-end {
    margin-right: $unit;
}
