// Utility: Measure
// ===


// Variables
// ---

$measure--reset: 10em;


// Measure is limited to ~66 characters
.u-measure {
    max-width: ($content-area--medium - $measure--reset);
}

// Measure is limited to ~80 characters
.u-measure-wide {
    max-width: ($content-area--large - $measure--reset);
}

// Measure is limited to ~45 characters
.u-measure-narrow {
    max-width: ($content-area--small - $measure--reset);
}
