// Global typography styles
// ==========

body {
    font-family: $hh-font-family-primary;
    font-weight: $hh-font-weight-regular;
    font-size: $hh-font-size-base;
    line-height: $hh-baseline-base;

    @include break(500) {
        // font-size: 1em;
    }
}

h1,
%h1 {
    font-weight: $hh-font-weight-thin;
    font-size: $hh-font-size-xlarge;
    line-height: $hh-baseline-xlarge;
    letter-spacing: -0.1rem;
}

h2,
%h2 {
    font-weight: $hh-font-weight-thin;
    font-size: $hh-font-size-large;
    line-height: $hh-baseline-large;
}

h3,
%h3 {
    font-weight: $hh-font-weight-bold;
    font-size: $hh-font-size-base;
    line-height: $hh-baseline-small;
    letter-spacing: ($hh-spacing-xsmall / 5);
    text-transform: uppercase;
}

h4,
h5,
h6 {

}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

code,
pre {
    font-family: var(--font--code);
}

q,
blockquote {
    quote: none;

    &::before,
    &::after {
        content: '';
    }
}
