// Noise Animation
// ===

@keyframes a-noise {
    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -15%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0);
    }

    70% {
        transform: translate(0, 15%);
    }

    80% {
        transform: translate(3%, 25%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

.a-noise,
%a-noise {
    animation: a-noise 0.25s infinite;
}
