// [Note] Use in coordination with scroll-lock npm package to prevent background
//        content to scroll when a modal is visible.

%c-modal,
.c-modal {
    position: fixed;
    width: 100vw;
    overflow: hidden;
    transition: 500ms ease-out;

    @include --narrow-up {
        width: 90vw;
        max-width: 30rem;
        box-shadow: 0 0 100em rgba(0, 0, 100, 0.5);
    }

    @include --wide-up {
        width: 33vw;
        max-width: 35rem;
        box-shadow: 0 0 150em rgba(0, 0, 100, 0.45);
    }

    @media screen and (min-width:100rem) {
        max-width: 45rem;
        box-shadow: 0 0 200em rgba(0, 0, 100, 0.4);
    }

    &.c--right,
    &.c--left {
      top: 0;
      bottom: 0;
    }

    &.c--right {
        right: 0;
    }

    &.c--left {
        left: 0;
    }
}

.c-modal__body,
.c-modal__footer,
.c-modal__header {
    padding: 3.5vw 5vw;

    @include --narrow-up {
      padding: 2vw 3vw;
    }
}

.c-modal__footer,
.c-modal__header {
    z-index: 1;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2em var(--white);
}

.c-modal__header {
    justify-content: space-between;
    background-color: var(--grey-light);
    line-height: 1 !important;

    .c--blue-dark & {
        background-color: var(--blue-dark);
    }

    .c--blue-light & {
        background-color: var(--blue-light);
    }

    .c--purple-light & {
        background-color: var(--purple-medium);
    }

    .c--green-light & {
        background-color: var(--green-dark);
    }
}

.c-modal__footer {
    justify-content: flex-end;
    border-top: 1px solid var(--grey-light);
    background-color: var(--white);
}

.c-modal__body {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--white);
}

.c-modal__close {
    margin-right: -0.25em;
    padding: 0 0.25em;
    border: 0;
    background: transparent;
    color: var(--white);
    opacity: 0.85;
}

.c-modal__shade {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        z-index: -1;
        background-color: var(--black);
        opacity: 0.5;
    }
}
