// Project-Wide Configurable Variables
// ==========


// Everything is based off this define unit and ratio
$configure--base-unit: 1rem;
$configure--base-ratio: 1.125;

// All text is based off this font size
$configure--text-size: 1rem;

// Choose your desired type weights
$configure--text-weight: 400;
$configure--text-bold: 600;






// Type Weight Options
// ---

$bold-font: $configure--text-bold;
$regular-font: $configure--text-weight;

$type-weight-map: (
    base: $regular-font,
    bold: $bold-font,
);

// Spacing Options
// ---

$very-small-space: $configure--base-unit/4;
$small-space: $configure--base-unit/2;
$base-space: $configure--base-unit;
$large-space: $configure--base-unit*2;
$very-large-space: $configure--base-unit*4;
$huge-large-space: $configure--base-unit*8;

$size-map: (
    xs: $very-small-space,
    sm: $small-space,
    md: $base-space,
    lg: $large-space,
    xl: $very-large-space,
    xxl: $huge-large-space,
    none: 0,
);


// Colour Options
// ---

$primary-color: var(--indigo-dark);
$accent-color: var(--orange-dark);
$black-color: var(--black);
$white-color: var(--white);
$grey-light-color: var(--grey-light);
$grey-dark-color: var(--grey-dark);

$color-map: (
    primary: $primary-color,
    accent: $accent-color,
    black: $black-color,
    white: $white-color,
    grey-light: $grey-light-color,
    grey-dark: $grey-dark-color,
);


// Content Area Options
// ---

$content-area-narrow: $configure--base-unit*25;
$content-area-medium: $configure--base-unit*50;
$content-area-wide: $configure--base-unit*65;

$content-area-map: (
    narrow: $content-area-narrow,
    medium: $content-area-medium,
    wide:   $content-area-wide,
);




// Z-axis Options
// ---

$z1-depth: -1;
$z2-depth: 1;
$z3-depth: 10;
$z4-depth: 100;
$z5-depth: 1000;

$z-map: (
    under: $z1-depth,
    basic: $z2-depth,
    stack: $z3-depth,
    shade: $z4-depth,
    modal: $z5-depth,
);


// Content Area Options
// ---

$content-area-narrow: $configure--base-unit*25;
$content-area-medium: $configure--base-unit*50;
$content-area-wide: $configure--base-unit*65;

$content-area-map: (
    narrow: $content-area-narrow,
    medium: $content-area-medium,
    wide:   $content-area-wide,
);


// Dimension Options
// ---

$no-size: 0;
$one-quarter: (100%/4);
$one-third: (100%/3);
$one-half: (100%/2);
$two-thirds: (100%/1.5151);
$three-quarters: (100%/1.3333);
$full-size: (100%/1);

$dimensions-map: (
    full: $full-size,
    3of4: $three-quarters,
    2of3: $two-thirds,
    1of2: $one-half,
    1of3: $one-third,
    1of4: $one-quarter,
    0: $no-size,
);


// Spacing Options
// ---

$very-small-space: $configure--base-unit/4;
$small-space: $configure--base-unit/2;
$base-space: $configure--base-unit;
$large-space: $configure--base-unit*2;
$very-large-space: $configure--base-unit*4;
$huge-large-space: $configure--base-unit*8;

$size-map: (
    xs: $very-small-space,
    sm: $small-space,
    md: $base-space,
    lg: $large-space,
    xl: $very-large-space,
    xxl: $huge-large-space,
    none: 0,
);





// Style options
// ---

$circle: 100%;
$rounded-corners: $configure--base-unit / ($configure--base-ratio*3);
$very-rounded-corners: $configure--base-unit * $configure--base-ratio;
$not-transparent: 1;
$half-transparent: 0.5;
$fully-transparent: 0;

$appearances-map: (
    circle: $circle,
    rounded-corners: $rounded-corners,
    very-rounded-corners: $very-rounded-corners,
    not-transparent: $not-transparent,
    half-transparent: $half-transparent,
    fully-transparent: $fully-transparent,
);




// Direction options
// ---

$directions-map: (
    top,
    left,
    right,
    bottom,
);
