// Component: Hero
// ===


// Component Variables
// ---

$hero--height: 60vh;
$hero--speed: 1s;
$hero--delay: 3s;


// Component Root
// ---

.c-hero {
    &.c--animate-shrink {
        height: $hero--height;

        transition: all $hero--speed $hero--delay ease-in-out;
    }
}
