// Component: Logo
// ===


// Component Variables
// ---

$logo--nudge: 31.5%;


// Component Root
// ---
//
// 1. Required for smooth fade in with transition

.c-logo {
    opacity: 0; // 1

    transform-origin: 50% 50%;

    &.c--animate-fade-in {
        opacity: 1;

        transition: opacity 1.5s ease-in-out, transform 1s 0.5s ease-in-out;
    }

    &.c--first-item {
        transform: translate(-50%, 0);

        &.c--animate-together {
            transform: translate($logo--nudge, 0);
        }
    }

    &.c--second-item {
        transform: translate(50%, 0);

        &.c--animate-together {
            transform: translate(-$logo--nudge, 0);
        }
    }
}
