// Component: Overlay
// ===


// Component variables
// ---

$overlay--time: 5s;


// Component Root
// ---

.c-overlay {
    z-index: $z0-depth;

    opacity: 0;

    animation: shifting ($overlay--time * 3) infinite;

    &.c--first {
        background-image: linear-gradient(to bottom, $pastel-blue, rgba($pastel-blue, 0));

        animation-delay: ($overlay--time * 1);
    }

    &.c--second {
        background-image: linear-gradient(to bottom, $pastel-pink, rgba($pastel-pink, 0));

        animation-delay: ($overlay--time * 2);
    }

    &.c--third {
        background-image: linear-gradient(to bottom, $pastel-green, rgba($pastel-green, 0));

        animation-delay: ($overlay--time * 3);
    }
}

@keyframes shifting {
    0%,
    66%,
    100% {
        opacity: 0;
    }

    33% {
        opacity: 0.75;
    }
}
