// Component: Overlay
// ===


// Component Variables
// ---

$overlay--time: 5s;
$overlay--fade-up: 0.25;
$overlay--fade-down: 0.05;


// Component Root
// ---

.c-overlay {
    > * {
        opacity: 0;

        animation: shifting ($overlay--time * 3) infinite;

        &:nth-child(1) {
            background-image: linear-gradient(to bottom, $pastel-blue, rgba($pastel-blue, $overlay--fade-down));
        }

        &:nth-child(2) {
            background-image: linear-gradient(to bottom, $pastel-pink, rgba($pastel-pink, $overlay--fade-down));

            animation-delay: ($overlay--time * 1);
        }

        &:nth-child(3) {
            background-image: linear-gradient(to bottom, $pastel-green, rgba($pastel-green, $overlay--fade-down));

            animation-delay: ($overlay--time * 2);
        }
    }
}

@keyframes shifting {
    0%,
    66%,
    100% {
        opacity: 0;
    }

    33% {
        opacity: $overlay--fade-up;
    }
}
