include /includes/components/_icon

header.t-header.u-context.u-clip.u-padding-top-lg.u-margin-bottom-lg.u-align-center

    h2.u-bold House House
    p.u-margin-bottom-md.u-uppercase(style='letter-spacing:0.125rem;font-size:0.5rem;') A Design Studio
    ul
        li.u-inline-block
            a(href='#').u-inline-block.u-margin-left-md.u-margin-right-md.u-squiggle
                | What We Do
        li.u-inline-block
            a(href='#').u-inline-block.u-margin-left-md.u-margin-right-md.u-squiggle
                | Contact Us
        li.u-inline-block
            a(href='#').u-inline-block.u-margin-left-md.u-margin-right-md.u-squiggle
                | Thoughts
