div.u-bg-dark.u-noise.u-context(style='height:0;padding-bottom:50%;')
    video.u-position.u-top-halfway.u-realign-center-vert.u-width-full(autoplay='', loop='')
        source(src='assets/video/Mock-up.mp4', type='video/mp4')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
        source(src='assets/video/Mock-up.webm', type='video/webm')
        | Your browser does not support the video tag. I suggest you upgrade your browser.
    div.poster.hidden
        img(src='assets/video/Mock-up.jpg', alt='House House')
