<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en-ca" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-ca" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-ca" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-ca"> <!--<![endif]-->

{% include head.html %}

{% capture layout %}
    {% if page.layout %}
        t-{{ page.layout }}
    {% endif %}
{% endcapture %}

<body class="no-js {{layout}}">

    {{ content }}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-87162611-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
