---
layout: default
---

<div class="c-hero u-flexbox u-align-middle u-justify-middle u-full-vh u-clip">
    <div class="c-logo c--first-item">
        {% include logo.html %}
    </div>
    <div class="c-logo c--second-item">
        {% include logo.html %}
    </div>
</div>

<div class="t-home__article u-flexbox u-flex-column u-align-middle u-z4 u-full-width u-text-align-left u-padding-start u-padding-end">
    <article class="c-container c-text-content">
        <h1 class="u-visually-hidden">House House Design</h1>
        <h2 class="">Respect your audience.</h1>
        <p>They have values. And ethics. They’re busy; they don’t want you getting in their way.</p>
        <p>We, too, have values. We’re stubborn that way. We won’t budge on what we believe in while pursuing fresh approaches towards the intersection between seamless function, accessible technology, and comprehensive solutions.</p>
        <p>But we work differently than the last agency you hired; we design for the least privileged, and create results that scale. We’re not interested in adding to the noise; we’re here to make work that is accessible, intelligible, sophisticated. Work that will create transformative experiences for your audience — work that gets out of their way.</p>
        <p>House House is a multidisciplinary design practice in Vancouver, Canada — a joint production between <a href="http://bengroulx.com">Ben Groulx</a> and <a href="http://durfee.me/">Sean Durfee</a>. You can hire us to help you connect with your audience in ways that will enrich their lives.</p>
        <p>With love,<br/>Ben &amp; Sean</p>
        <div class="u-flexbox u-padding-top">
            <div class="u-quarter-width u-margin-end">
                <img src="{{ "/assets/img/signature-ben.png" | prepend: site.baseurl }}" />
            </div>
            <div class="u-quarter-width">
                <img src="{{ "/assets/img/signature-sean.png" | prepend: site.baseurl }}" />
            </div>
        </p>
    </article>
</div>

<div class="c-overlay c--first u-fixed u-cover"></div>
<div class="c-overlay c--second u-fixed u-cover"></div>
<div class="c-overlay c--third u-fixed u-cover"></div>
