<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="t-home">

        <div class="c-overlay c--first u-fixed u-cover"></div>
        <div class="c-overlay c--second u-fixed u-cover"></div>
        <div class="c-overlay c--third u-fixed u-cover"></div>

        <div class="u-flexbox u-flex-column u-align-middle u-justify-middle u-full-vw u-full-vh     hero">
            <svg class="c-logo c--first-item u-position" width="280" height="280" fill="#3c485d" viewBox="0 0 560 560" xmlns="http://www.w3.org/2000/svg">
                <title>House House Logo (first element)</title>
                <g fill-rule="evenodd">
                    <path d="M0 0h144v560H0zM416 0h144v560H416z"/>
                    <path d="M2 359.887v-144h557.267v144z"/>
                </g>
            </svg>
            <svg class="c-logo c--second-item u-position" width="280" height="280" fill="#3c485d" viewBox="0 0 560 560" xmlns="http://www.w3.org/2000/svg">
                <title>House House Logo (second element)</title>
                <g fill-rule="evenodd">
                    <path d="M0 0h144v560H0zM416 0h144v560H416z"/>
                    <path d="M2 359.887v-144h557.267v144z"/>
                </g>
            </svg>
        </div>

        <div class="u-flexbox u-flex-column u-align-middle u-z4 u-full-width u-text-align-left u-padding-start u-padding-end     about">
            <article class="c-container c-text-content">
                <h1 class="u-visually-hidden">House House Design</h1>
                <h2 class="c--heading c--h1">Respect your audience.</h1>
                <p>They have values. And ethics. They’re busy; they don’t want you getting in their way.</p>
                <p>We, too, have values. We’re stubborn that way. We won’t budge on what we believe in while pursuing fresh approaches towards the intersection between seamless function, accessible technology, and comprehensive solutions.</p>
                <p>But we work differently than the last agency you hired; we design for the least privileged, and create results that scale. We’re not interested in adding to the noise; we’re here to make work that is accessible, intelligible, sophisticated. Work that will create transformative experiences for your audience — work that gets out of their way.</p>
                <p>House House is a multidisciplinary design practice in Vancouver, Canada — a joint production between Ben Groulx and Sean Durfee. You can hire us to help you connect with your audience in ways that will enrich their lives.</p>
                <p>With love,<br/>Ben &amp; Sean</p>
            </article>
        </div>

    </body>
</html>
