<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="home">
      <svg class="househouse" width="560" height="560" fill="#3c485d" viewBox="0 0 560 560" xmlns="http://www.w3.org/2000/svg"><title>Group</title><g  fill-rule="evenodd"><path d="M0 0h144v560H0zM416 0h144v560H416z"/><path d="M2 359.887v-144h557.267v144z"/></g></svg>
      <div class="copy">ousehouse</div>
      <div class="about">
        <h2>A join production between Ben Groulx and Sean Durfee.</h2>
        <p></p>
      </div>
    </div>



  </body>

</html>
