footer.u-margin-bottom-lg.u-align-center
    div.c-text-content
        p.u-text-size-small.u-color-dark
            | Copyright © 2016–#[script document.write(new Date().getFullYear());] #{site_title}
        p.u-uppercase.u-tracked-loose.u-color-dark(style='font-size:0.5rem;')
            | Made with love in Vancouver, Canada
        img(src='/assets/img/parrot.gif', alt='Party Parrot', style='transform:scale(0.75);', width='35', height='25')

script(src='/assets/js/main.js')
