header.u-context.u-stack-basic.u-clip.u-padding-top-lg.u-margin-bottom-lg.u-align-center(style='text-shadow:0 0.25em 2em black')

    h2.u-bold
        a(href='/').u-color-light House House
    p.u-margin-bottom-md.u-uppercase.u-tracked-loose.u-color-light(style='font-size:0.5rem;') 
        | A Design Studio
    ul
        li.u-inline-block.u-margin-right-md
            a(href='#who-we-are').u-inline-block.u-squiggle.u-color-light
                | Who We Are
        li.u-inline-block.u-margin-right-md
            a(href='#our-work').u-inline-block.u-squiggle.u-color-light
                | Our Work
        li.u-inline-block
            a(href='#contact-us').u-inline-block.u-squiggle.u-color-light
                | Contact Us
