header.u-context.u-clip.u-align-center.u-stack-basic.u-padding-top-md--small-up.u-padding-left-md--small-up.u-padding-right-md--small-up
    div.u-padding-top-lg.u-padding-bottom-lg.u-bg-primary(style='background-image:url(assets/img/pattern.png); background-attachment:fixed;')
        h2.u-bold
            a(href='/').u-color-light House House
        p.u-margin-bottom-md.u-uppercase.u-tracked-loose.u-color-light(style='font-size:0.5rem;') 
            | A Design Studio
        ul
            li.u-inline-block.u-margin-right-md
                a(href='#who-we-are').u-inline-block.u-squiggle.u-color-light
                    | Who We Are
            li.u-inline-block.u-margin-right-md
                a(href='#our-work').u-inline-block.u-squiggle.u-color-light
                    | Our Work
            li.u-inline-block
                a(href='#contact-us').u-inline-block.u-squiggle.u-color-light
                    | Contact Us
    //-
        div.u-position.u-right-0.u-stack-basic(style='width:5vw;transform:scale(3)translate(-1vw, 1vh)')
            <div role="presentation" class="u-margin-bottom-lg--small-only u-margin-bottom-xl--small-up u-padding-bottom-xs u-width-full a-back-forth u-squiggle"></div>
