doctype
html(lang='en-ca')

    include includes/partials/_head

    body.a-fade-in--mid-forwards
        //-
            div(hidden='')
                include includes/partials/_spritesheet
        include includes/partials/_header
        include includes/partials/_main
        include includes/partials/_footer
