//- Template Includes
include includes/components/_card


//- Template Begin
section.u-context.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-clip(style='margin-top:-10rem;')
    div.u-context.u-bg-dark.u-gradient(style='height:0;padding-bottom:56%;')
        div.u-position.u-stack-basic.u-bottom-0.u-left-halfway.u-realign-center.u-color-light.u-half-transparent.u-uppercase.u-text-size-small.u-tracked-loose._u-bold.u-padding-bottom-md
            | See how we can help 👇
        video.u-position.u-top-halfway.u-left-halfway.u-realign-center.u-width-full.u-bg-cover#main-video(playsinline, autoplay, muted, loop, poster='assets/img/glitch.jpg')
            source(src='assets/video/house-house--glitch.mp4', type='video/mp4')
            track(kind='captions', default)
        label.u-color-light.u-fully-transparent(for='main-video') Glitching/flashing video of people encountering technology.
    div.u-position.u-stack-basic.u-top-halfway.u-realign-center-vert.u-measure-medium.u-hidden--small-only
        h1.u-text-size-large.u-padding-left-md--small-up.u-padding-left-xl--medium-up.u-bold(style='line-height:2.5;')
            span.u-bg-light.u-padding-top-sm.u-padding-bottom-sm
                |&nbsp;As #[span.u-color-tertiary tech] becomes increasingly overwhelming,&ensp;good #[span.u-color-accent design] will help you better use it. That’s where #[span.u-color-primary.u-no-wrap we can help].&nbsp;

section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-padding-left-md.u-padding-right-md#who-we-are
    script var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    div.c-text-content.u-measure-medium.u-align-center
        h3 You have an audience. We #[span.u-no-wrap respect them].
        p Hi there, and happy #[script document.write(weekdays[new Date().getDay()]);]#[noscript day]! We’re House House, a multidisciplinary design studio based in Vancouver, Canada that collaborates with people all over the world. We’re excited to join forces with you and #[a.u-no-wrap(href='#our-work') make something] wonderful together.

include includes/components/_divider

section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-padding-left-md.u-padding-right-md
    div.c-text-content.u-measure-medium
        h3.u-visually-hidden House House is a multidisciplinary design studio based in Vancouver, Canada that will help you with art direction, front-end development, web design, and more.

        h3.u-visually-hidden House House is a multidisciplinary design studio based in Vancouver, Canada. We can help you build intelligent, purposeful products, websites and apps.

        p We are different than the last agency you hired. You see, we love how design can help people. Other design shops shoehorn your business into their process – we listen and help you grow. We’re not interested in adding to the noise — that doesn’t help anyone. We're here to cut through the cacophony and build good looking products with purpose and function.  

        p To do this, we listen to your story. In discovering who you are, we uncover who is at the heart of your business. We work until we can connect your goals to their needs in a way that is seamless, accessible, and intelligent. We work until we know your audience as well as your dog knows its bone. We work until they come away saying, “of course.” 

        p You’ve got a visionary idea or you wouldn’t be here right now. Let’s start a conversation to see if our values jive with your goals. To see if our approach fits your needs. If our solution-focused, scalable work meshes with your vision.

        p Hire us and let's talk. ✌️

include includes/components/_divider

section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-padding-left-md.u-padding-right-md#our-work
    div.u-measure-medium.u-align-center
        h3.u-margin-bottom-lg What do you need done?
        div.u-flexbox--medium-up
            div.c-text-content.u-flex.u-margin-bottom-md
                span.u-block 📝  Art Direction 
                span.u-block 🌄  Brand Identity  
                span.u-block 📚  Graphic Design
                span.u-block 💻  Responsive Websites
            div.c-text-content.u-flex.u-margin-bottom-md
                span.u-block ⌨️  Front-End Dev
                span.u-block 🚚  Product Design
                span.u-block 📦  Packaging Design 
                span.u-block 📱  Progressive Web Apps
            div.c-text-content.u-flex.u-margin-bottom-md
                span.u-block 🎬  Film Editing
                span.u-block 🌀  Motion Design 
                span.u-block 📰  Editorial Design 
                span.u-block 🗺  Environmental Design

include includes/components/_divider

section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-padding-left-md.u-padding-right-md.u-clip
    div.u-measure-medium.u-margin-bottom-lg.u-align-center 
        h3 What have we been working #[span.u-no-wrap on lately?]
    div.u-flexbox--small-up.u-flex-wrap
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'Blanc Ink',
                    'Front-End Development',
                    'assets/img/project-blancink.jpg',
                    'https://medium.com/house-house/house-house-blanc-ink-3050b75adc4f')
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--medium-up
                +card(
                    'Kost',
                    'Product Design',
                    'assets/img/project-kost.jpg',
                    '#')
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'Bitchpop',
                    'Film & Brand Design',
                    'assets/img/project-bitchpop.jpg',
                    'https://bitchpopproductions.com')
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of4--medium-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full
                +card(
                    'Ultrafast Optics',
                    'Responsive Web Design',
                    'assets/img/project-stanford.jpg',
                    'http://ultrafastoptics2017.org/')

    article.c-card.c--no-padding.c-faux-link.u-context.u-clip.u-bg-center.u-bg-cover.u-gradient.u-padding-top-xl.u-padding-bottom-xl.u-padding-left-md.u-padding-right-md.u-bg-dark
        a.c-faux-link__overlay(href='https://github.com/househouse/housecss', aria-hidden='true') Find out more about housecss
        div.u-position.u-top-0.u-bottom-0.u-left-0.u-right-0.u-half-transparent.u-bg-center.u-bg-cover(style='background-image:url("assets/img/stars.gif");')
        div.u-context.u-stack-basic.u-measure-medium.u-flexbox--medium-up.u-color-light.u-align-center
            div.u-flex.u-margin-right-lg--medium-up
                p.u-context.u-glitch(data-glitch='🚀', style='font-size:5rem;') 🚀
            div.u-flex
                img.u-max-width-1of2.u-margin-bottom-md(src='assets/img/housecss-logo.png', alt='House CSS logo')
                p Launch your next web project quickly by removing the uncertainty and grunt-work around writing CSS. #[span.u-inline-block.u-squiggle Learn more about housecss &rarr;]

include includes/components/_divider

section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-padding-left-md.u-padding-right-md.u-clip
    div.u-measure-medium
        h3.u-margin-bottom-lg.u-align-center It’s a pleasure to meet you!

        div.u-clip.u-margin-bottom-lg
            figure.u-context.u-float-left.u-width-1of3.u-margin-right-md.u-clip
                img.u-block(src='assets/img/portrait--ben-groulx--animated.gif', alt='Illustrated portrait of Ben Groulx')
            div.c-text-content
                h4.u-text-size-base.u-bold Ben Groulx 🐙
                ul
                    li.u-inline-block.u-margin-right-md
                        a(href='https://linkedin.com/in/bengroulx', target='_blank', rel='noopener') LinkedIn
                    li.u-inline-block
                        a(href='https://bengroulx.com', target='_blank', rel='noopener') Website
                p Ben brings experience in design systems, front-end architecture, and feedback processes to House House. You can find him hanging out at a local brewery or playing board games when not focusing on the intersection of interaction and graphic design.

        div.u-clip.u-margin-bottom-lg
            figure.u-context.u-float-left.u-width-1of3.u-margin-right-md.u-clip
                img.u-block(src='assets/img/portrait--sean-durfee--animated.gif', alt='Illustrated portrait of Sean Durfee')
            div.c-text-content
                h4.u-text-size-base.u-bold Sean Durfee 🚀
                ul
                    li.u-inline-block.u-margin-right-md
                        a(href='https://linkedin.com/in/sean-durfee-ba393b5a', target='_blank', rel='noopener') LinkedIn
                    li.u-inline-block
                        a(href='http://durfee.me/', target='_blank', rel='noopener') Website
                p Sean is a web, product, and graphic designer fluent in front-end development with a background in international relations and entrepreneurship. He spends too much time in coffee shops building new products.

        div.u-clip
            figure.u-context.u-float-left.u-width-1of3.u-margin-right-md.u-clip
                img.u-block(src='assets/img/portrait--caitlin-farquharson--animated.gif', alt='Illustrated portrait of Caitlin Farquharson')
            div.c-text-content
                h4.u-text-size-base.u-bold Caitlin Farquharson 💅🏼
                ul
                    li.u-inline-block.u-margin-right-md
                        a(href='https://linkedin.com/in/caitlinfarquharson', target='_blank', rel='noopener') LinkedIn
                p Caitlin is House House’s marketing whiz; with a background in business strategy and marketing, Caitlin helps us uncover user needs, organize complicated information challenges, and refine and focus content tasks.

include includes/components/_divider

section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-padding-left-md.u-padding-right-md.u-clip#contact-us
    div.c-text-content.u-measure-medium.u-align-center.u-margin-bottom-xl
        h3 We should work together
        p.u-flexbox.u-align-middle.u-justify-middle
            span.u-block.u-circle.u-margin-right-sm.u-bg-tertiary(style='width:0.5rem;height:0.5rem;')
            span.u-block.u-uppercase.u-text-size-small.u-tracked-loose Ready for work in Q3 2017
        p We’re often head-down, jamming out creating something really cool. But we’ll always make time to hear about your challenges, or if you’re just wanting to say a quick hello. So give us a shout, and let’s make some magic happen.
        ul
            li.u-inline-block.u-margin-right-md
                a(href='https://househouse-hq.slack.com/', target='_blank', rel='noopener') Slack
            li.u-inline-block.u-margin-right-md
                a(href='https://github.com/househouse/', target='_blank', rel='noopener') GitHub
            li.u-inline-block
                a(href='https://twitter.com/house-house/', target='_blank', rel='noopener') Twitter
    form.u-block.u-measure-medium#contact-form(action='https://formspree.io/ben@house-house.design', method='POST')
        div.u-flexbox--small-up.u-clip
            div.u-context.u-border-left-dark.u-border-bottom-dark.u-width-full--small-only.u-width-1of2--small-up.u-float-left.u-margin-right-md--small-up.u-margin-bottom-md(style='height:3rem;')
                label.u-position.u-top-halfway.u-realign-center-vert.u-text-size-small.u-color-primary.u-padding-left-md.u-stack-basic(for='form-name')
                    | Your Name
                input.u-position.u-top-0.u-left-0.u-right-0.u-bottom-0.u-width-full.u-border-0.u-text-size-base.u-padding-left-md#form-name(required='', type='text', name='_name')
            div.u-context.u-border-left-dark.u-border-bottom-dark.u-width-full--small-only.u-width-1of2--small-up.u-float-left.u-margin-bottom-md(style='height:3rem;')
                label.u-position.u-top-halfway.u-realign-center-vert.u-text-size-small.u-color-primary.u-padding-left-md.u-stack-basic(for='form-email')
                    | Your Email
                input.u-position.u-top-0.u-left-0.u-right-0.u-bottom-0.u-width-full.u-border-0.u-text-size-base.u-padding-left-md#form-email(required='', type='text', name='_replyto')
        div.u-flexbox--small-up.u-clip
            div.u-context.u-border-left-dark.u-border-bottom-dark.u-width-full.u-float-left.u-margin-bottom-md(style='height:12rem;')
                label.u-position.u-bottom-0.u-text-size-small.u-color-primary.u-padding-left-md.u-padding-bottom-md.u-stack-basic(for='form-message' style='pointer-events:none;')
                    | Your Message
                textarea.u-position.u-top-0.u-left-0.u-right-0.u-bottom-0.u-width-full.u-border-0.u-text-size-base.u-padding-left-md.u-padding-top-md.u-padding-bottom-md.u-padding-right-md#form-message(required='', placeholder='e.g. Hello, House House! I have a problem with ________ that I need some guidance on – I think I may need a designer! My budget is $__,____ and I would like a solution in ____ weeks. Can you help?', name='_message')
        div.u-flexbox--small-up.u-clip
            button.u-bg-primary.u-border-0.u-width-full--small-only.u-width-1of2--small-up.u-width-1of4--medium-up.u-color-light.u-padding-top-md.u-padding-bottom-md.u-float-right.u-text-size-base#form-submit(name='submit', type='submit')
                | Send
        div(hidden='')
            input(type='text', name='_gotcha')
            input(type='hidden', name='_next', value='/thanks')
            input(type='hidden', name='_subject', value='Hi there, House House!')
            input(type='hidden', name='_cc', value='sean@house-house.design')

include includes/components/_divider
