//- Template Includes
include includes/components/_card
include includes/components/_modal


//- Template Begin
include includes/sections/_intro
include includes/sections/_who-we-are
include includes/sections/_our-work
include includes/sections/_portfolio
include includes/sections/_profiles
include includes/sections/_contact


//- Template Modals
+modal('Design Statement', 'statement')
    include includes/modals/_statement

//- TODO: See the “modal” section in `script.js`; right now, there’s only only
    one trigger for one modal… we need to be able to create a method of defining
    which trigger initiates which modal so that we can have multiple modals.

    +modal('Design Process')
        include includes/partials/_modal-process
