// Text Content Component
// ===

.c-text-content {
    line-height: $base-leading;

    > *:not(:last-child) {
        margin-bottom: $base-space;
    }

    p,
    li {
        color: $grey;
    }

    li {
        padding-left: $base-space;

        text-indent: -$base-space;

        &::before {
            content: '>';

            padding-right: $small-space;

            color: $accent-color;
        }
    }

    a {
        @extend %u-squiggle;

        padding-bottom: $very-small-space;
    }
}
