// Fade In Animation
// ===

@keyframes a-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.a-fade-in--mid-forwards,
%a-fade-in--mid-forwards {
    animation: a-fade-in 1s forwards;
}
