// Global Typographic Styles
// ===

@font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: 400;

    src: local('PT Mono'), local('PTMono-Regular'), url('https://fonts.gstatic.com/s/ptmono/v4/G-CKroWfxRiFDKkMmCHyAgLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');

    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

a {
    outline: none;

    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
        outline: none;
    }
}
