section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-margin-bottom-xxl--medium-up.u-padding-left-md.u-padding-right-md.u-clip#portfolio
    
    div.u-measure-medium.u-margin-bottom-lg.u-align-center 
        h2.u-bold.u-margin-bottom-md What have we been working #[span.u-no-wrap on lately?]
        include ../components/_divider
    

    //- Row 1
    div.u-flexbox--small-up.u-flex-wrap

        div.u-float-start.u-width-1of2--small-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'Blanc Ink',
                    '#research #frontend #ui',
                    'assets/img/project--blancink.jpg',
                    'https://medium.com/house-house/house-house-blanc-ink-3050b75adc4f')
        div.u-float-start.u-width-1of2--small-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full
                +card(
                    'Bitchpop',
                    '#film #responsive #brand',
                    'assets/img/project--bitchpop.gif',
                    'https://bitchpopproductions.com')

    
    //- Row 2
    article.c-card.c--no-padding.c-faux-link.u-context.u-clip.u-bg-center.u-bg-cover.u-gradient.u-padding-top-lg--small-only.u-padding-top-xl--small-up.u-padding-bottom-xl.u-padding-left-md.u-padding-right-md.u-bg-dark.u-margin-bottom-md
        
        a.c-faux-link__overlay(href='https://github.com/househouse/housecss', aria-hidden='true') Find out more about housecss
        
        div.c-card__image.u-position.u-top-0.u-bottom-0.u-left-0.u-right-0.u-half-transparent.u-bg-center.u-bg-cover(data-style='background-image:url("assets/img/stars.gif");')
        
        div.u-context.u-stack-basic.u-measure-medium.u-flexbox--medium-up.u-color-light.u-align-center
            div.u-flex.u-margin-right-lg--medium-up
                p.u-context.u-glitch(data-glitch='🚀', style='font-size:5rem;') 🚀
            div.u-flex
                img.u-max-width-2of3.u-margin-bottom-md(src='assets/img/housecss-logo.png', alt='House CSS logo')
                p Launch your next web project quickly by removing the uncertainty and grunt-work around writing CSS. #[span.u-inline-block.u-squiggle Learn more about housecss &rarr;]
    

    //- Row 4
    div.u-flexbox--small-up.u-flex-wrap
        
        div.u-float-start.u-width-1of2--small-up.u-max-width-1of3--medium-up.u-margin-bottom-md.u-flex-basis-1of3--medium-up
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'Lawn Party Films',
                    '#responsive',
                    'assets/img/project--lawnpartyfilms.jpg',
                    'http://lawnpartyfilms.com/')

        div.u-float-start.u-width-1of2--small-up.u-max-width-1of3--medium-up.u-margin-bottom-md.u-flex-basis-1of3--medium-up
            div.u-bg-dark.u-height-full.u-margin-right-md--medium-up
                +card(
                    'Ultrafast Optics',
                    '#responsive #visual',
                    'assets/img/project--stanford.jpg',
                    'http://ultrafastoptics2017.org/')

        div.u-float-start.u-width-full--small-up.u-max-width-1of3--medium-up.u-margin-bottom-md.u-flex-basis-1of3--medium-up
            div.u-bg-dark.u-height-full
                +card(
                    'Ask Will',
                    '#motion #print',
                    'assets/img/project--askwill.gif',
                    'https://www.youtube.com/watch?v=68F7ta8kk9w')

    
    //- Row 4
    div.u-flexbox--small-up.u-flex-wrap
        
        div.u-float-start.u-width-1of2--small-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full.u-margin-right-md--small-up
                +card(
                    'VDW',
                    '#brand #responsive #print',
                    'assets/img/project--vdw.jpg',
                    'http://vancouverdesignwk.com/')

        div.u-float-start.u-width-1of2--small-up.u-margin-bottom-md
            div.u-bg-dark.u-height-full
                +card(
                    'Kost',
                    '#product #webapp',
                    'assets/img/project--kost.jpg',
                    '#')
