section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-margin-bottom-xxl--medium-up.u-clip#profiles
    
    div.u-measure-medium
        h2.u-bold.u-margin-bottom-md.u-align-center Let us introduce ourselves.
        include ../components/_divider

    div.u-flexbox--medium-up.u-padding-right-md.u-padding-right-none--medium-up.u-padding-left-md.u-padding-left-lg--medium-up
        
        div.u-clip.u-flex.u-width-1of3--medium-up.u-margin-right-lg--medium-up
            figure.u-context.u-float-left.u-width-full--small-only.u-width-1of3--small-up.u-margin-right-md--medium-up.u-margin-right-md.u-clip
                img.u-block.u-width-full(src='assets/img/portrait--ben-groulx--animated.gif', 
                alt='Illustrated portrait of Ben Groulx')
            div.c-text-content
                h4 Ben Groulx 🤙
                p.u-margin-bottom-md Ben brings experience in design systems, front-end architecture, and feedback processes to House House. You can find him hanging out at a local brewery or playing board games when not focusing on the intersection of interaction and graphic design. Add him on #[a(href='https://linkedin.com/in/bengroulx', target='_blank', rel='noopener') LinkedIn] and see his #[a(href='https://bengroulx.come/', target='_blank', rel='noopener') website].

        div.u-clip.u-flex.u-width-1of3--medium-up.u-margin-right-lg--medium-up
            figure.u-context.u-float-left.u-width-full--small-only.u-width-1of3--small-up.u-margin-right-md--medium-up.u-margin-right-md.u-clip
                img.u-block(src='assets/img/portrait--sean-durfee--animated.gif', 
                alt='Illustrated portrait of Sean Durfee')
            div.c-text-content
                h4 Sean Durfee 🤘
                p.u-margin-bottom-md Sean is a web, product, and graphic designer fluent in front-end development with a background in international relations and entrepreneurship. He spends too much time in coffee shops building new products. Add him on #[a(href='https://linkedin.com/in/sean-durfee-ba393b5a', target='_blank', rel='noopener') LinkedIn] and see his #[a(href='http://durfee.me/', target='_blank', rel='noopener') website].

        div.u-clip.u-flex.u-width-1of3--medium-up.u-margin-right-lg--medium-up
            figure.u-context.u-float-left.u-width-full--small-only.u-width-1of3--small-up.u-margin-right-md--medium-up.u-margin-right-md.u-clip
                img.u-block(src='assets/img/portrait--caitlin-farquharson--animated.gif', 
                alt='Illustrated portrait of Caitlin Farquharson')
            div.c-text-content
                h4 Caitlin Farquharson 💅
                p Caitlin is House House’s marketing whiz; with a background in business strategy and marketing, Caitlin helps us uncover user needs, organize complicated information challenges, and refine and focus content tasks. Add her on #[a(href='https://linkedin.com/in/caitlinfarquharson', target='_blank', rel='noopener') LinkedIn].
