section.u-margin-bottom-lg--small-only.u-margin-bottom-xl--small-up.u-margin-bottom-xxl--medium-up.u-padding-left-md.u-padding-right-md#who-we-are
    
    script var weekdays = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    
    div.c-text-content.u-measure-medium.u-margin-bottom-lg.u-margin-bottom-xl--medium-up
        
        h2.u-align-center.u-bold.u-margin-bottom-md You have an audience. We #[span.u-no-wrap respect them].
        include ../components/_divider
        
        p.u-align-center--small-up.u-color-dark 👋 Hi there, and happy #[script document.write(weekdays[new Date().getDay()]);]#[noscript day]! We’re #[span.u-secondary-font.u-bold.u-color-swap House House], a multidisciplinary dessign studio based in Vancouver, Canada that collaborates with people all over the world — even where you are. We’re excited to join forces with you to #[a.u-no-wrap(href='#our-work') make something] wonderful together. We achieve results by striving to accomplish three things:


    div.u-flexbox--medium-up.u-padding-left-lg--medium-up
        
        div.c-text-content.u-flex.u-width-1of3--medium-up.u-padding-right-lg--small-up.u-margin-bottom-lg
            h4.u-flexbox.u-align-middle
                div.u-flex-shrink
                    span.u-flexbox.u-justify-middle.u-align-middle.u-circle.u-border-primary.u-margin-right-sm.u-text-size-small.u-bold(style='width:2rem; height:2rem;') 1
                | Work Differently
            p While other design shops shoehorn your business into their process, we listen and help you grow. We’re not interested in adding to the noise — that doesn’t help anyone. We're here to cut through the cacophony and build beautiful products that have purpose and function.
            p #[a.js-modal-show(data-modal-trigger='statement') Read our design statement &rarr;]

        div.c-text-content.u-flex.u-width-1of3--medium-up.u-padding-right-lg--small-up.u-margin-bottom-lg
            h4.u-flexbox.u-align-middle
                div.u-flex-shrink
                    span.u-flexbox.u-justify-middle.u-align-middle.u-circle.u-border-primary.u-margin-right-sm.u-text-size-small.u-bold(style='width:2rem; height:2rem;') 2
                | Make Connections
            p To do this, we listen to your story. In discovering who you are, we uncover who is at the heart of your business — and who your audience is. We work until we can connect your goals to their needs in a seamless, intelligent way; we work until we know your audience as well as your dog knows its bone; we work until they come away saying, “of course.” 
            p #[a.js-modal-show(data-modal-trigger='process') Learn about our process &rarr;]

        div.c-text-content.u-flex.u-width-1of3--medium-up.u-padding-right-lg--small-up
            h4.u-flexbox.u-align-middle
                div.u-flex-shrink
                    span.u-flexbox.u-justify-middle.u-align-middle.u-circle.u-border-primary.u-margin-right-sm.u-text-size-small.u-bold(style='width:2rem; height:2rem;') 3
                | Think Big
            p You’ve got a visionary idea or you wouldn’t be here right now. Let’s start a conversation to see if our values jive with your desires, to see if our approach fits your needs, to see if our solution-focused, scalable work meshes with your vision. 
            p #[a(href='#contact-us') Hire us and let’s talk &rarr;]
