// Utilities: Appearance
// ============================================================================

.u-circle {
    border-radius: $circle;
}

/* Unused CSS :: Chrome DevTools Audit
.u-rounded-corners {
    border-radius: $rounded-corners;
}

.u-very-rounded-corners {
    border-radius: $very-rounded-corners;
}

.u-not-transparent {
    opacity: $not-transparent;
}
*/

.u-half-transparent {
    opacity: $half-transparent;
}

.u-squiggle,
%u-squiggle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$accent-color}' stroke-width='1' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: 100% 100%;
    background-size: auto 3px;
}


// Overlays
// ---
//
// 1. Remove click events so if there are elements undeneath, they can still be
//    targeted by a mouse or finger.
// 2. Use both before/after pseudos so that both overlays can be placed on an
//    element simultaneously.
// 3. 2px, 0.125rem

.u-gradient,
.u-corners {
    &::before,
    &::after {
        content: '';

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        pointer-events: none;
    }
}

.u-gradient {
    // 2

    &::before {
        top: 50%;

        background: linear-gradient(to bottom, rgba($black, 0), rgba($black, 0.5));
    }
}

.u-corners {
    // 2

    &::after {
        top: 0;

        background: radial-gradient(at center, transparent 60%, rgba($primary-color, 0.075) 100%);
    }
}

.u-glitch {
    &::before,
    &::after {
        content: attr(data-glitch);

        position: absolute;
        top: 0;
        bottom: 0;

        clip: rect(0, 0, 0, 0);
        width: 100%;
        height: 100%;
    }

    &::before {
        @extend %a-glitch-left;

        right: 0;
        left: ($very-small-space/2); // 3

        text-shadow: -$very-small-space 0 $tertiary-color;
    }

    &::after {
        @extend %a-glitch-right;

        right: ($very-small-space/2); // 3
        left: 0;

        text-shadow: $very-small-space 0 $accent-color;
    }
}

.u-color-swap {
    animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: $tertiary-color;
    }

    50% {
        color: $primary-color;
    }

    100% {
        color: $accent-color;
    }
}
