// Utilities: Text
// ============================================================================

.u-text-size-very-large {
    @extend %type-headline;
}

.u-text-size-large {
    @extend %type-title;
}

.u-text-size-base {
    @extend %type-copy;
}

.u-text-size-small {
    @extend %type-small;
}


// Text Styles
// ---
//
// 1. The same style could be applied by using an element. Think about what may
//    be more semantically correct for your specific situation.

/* Unused CSS :: Chrome DevTools Audit
.u-italic {
    font-style: italic; // 1
}

.u-regular {
    font-weight: $regular-font;
}
*/

.u-bold {
    font-weight: $bold-font; // 1
}

.u-secondary-font {
    font-family: $secondary-font;
}


// Text Alignment
// ---

.u-align-left {
    text-align: left;
}

.u-align-center {
    text-align: center;

    @include --small-up {
        &--small-up {
            text-align: center;
        }
    }
}

.u-align-right {
    text-align: right;
}


// Text Casing
// ---

.u-uppercase {
    text-transform: uppercase;
}

.u-lowercase {
    text-transform: lowercase;
}

.u-capitalize {
    text-transform: capitalize;
}


// Tracking
// ---

.u-tracked-loose {
    letter-spacing: 0.125rem;
}
